.editor-mask {
  align-items: center;
  border: 2px dashed #eee;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

.editor-mask .mask-label {
  color: #888;
  flex: 1 1;
  font-family: Arial,sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 18px;
  text-align: center;
}
