// timing durations from material design spec
$enter-viewport-time: 150ms;
$leave-viewport-time: 120ms;
$standard-time: 300ms;

// easing curves from material design spec

// standard curve - "ease in out", used for growing and shrinking material,
// and other property changes inside the viewport
$standard-curve: cubic-bezier(.4, 0, .2, 1);

// deceleration curve - "ease out", used for elements entering the viewport
$deceleration-curve: cubic-bezier(0, 0, .2, 1);

// acceleration curve - "ease in", used for elements leaving the viewport permanently
$acceleration-curve: cubic-bezier(.4, 0, 1, 1);

// sharp curve - "ease in out", used for elements leaving the viewport temporarily
$sharp-curve: cubic-bezier(.4, 0, .6, 1);

// toggle curve - used for toggling opacity on buttons
$toggle-curve: cubic-bezier(.25, .8, .5, 1);
