@import 'colors';
@import 'typography';

@mixin button {
  @include type-button();

  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  float: left;
  height: 34px;
  line-height: 16px;
  margin: 0 15px 0 0;
  outline: none;
  padding: 7px 11px 6px;
  width: auto;

  * {
    // any text inside buttons should be smooth
    -webkit-font-smoothing: auto;
  }
}

@mixin button-large {
  @include type-button();

  box-shadow: none;
  cursor: pointer;
  float: left;
  height: 48px;
  line-height: 16px;
  margin: 0;
  outline: none;
  padding: 7px 16px 6px;
  width: auto;

  * {
    // any text inside buttons should be smooth
    -webkit-font-smoothing: auto;
  }
}

// button styles

@mixin button-filled($color: $button-outline, $text: $toolbar-icons) {
  @include button();

  background-color: $color;
  border: none;
  color: $text-color;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: lighten($color, 2%);
    transition: background-color 150ms ease-out;
  }

  &:active {
    background-color: lighten($color, 5%);
    transition: background-color 50ms ease-out;
  }

  &:disabled {
    background-color: $button-disabled;
    color: $text-alt-color;
    cursor: not-allowed;
    transition: all 50ms ease-out;
  }
}

@mixin button-outlined($color: $button-outline, $fill: $toolbar-icons) {
  @include button();

  background-color: $fill;
  border: 1px solid $color;
  color: $color;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: rgba($color, .05);
    transition: background-color 150ms ease-out;
  }

  &:active {
    background-color: rgba($color, .12);
    transition: background-color 50ms ease-out;
  }

  &:disabled {
    background-color: $fill;
    border: 1px solid $button-disabled-light;
    color: $button-disabled-light;
    cursor: not-allowed;
    transition: all 150ms ease-out;
  }
}

@mixin button-filled-large($fill: $button-outline, $color: $toolbar-icons) {
  @include button-large();

  background-color: $fill;
  border: none;
  color: $color;
  transition: background-color 150ms ease-out;

  svg {
    fill: $color;
  }

  &:not(:disabled):hover {
    background-color: lighten($fill, 2%);
    transition: background-color 150ms ease-out;
  }

  &:not(:disabled):active {
    background-color: lighten($fill, 5%);
    transition: background-color 50ms ease-out;
  }

  &:disabled {
    color: darken($color, 25%);
    cursor: not-allowed;
    transition: all 50ms ease-out;

    svg {
      fill: darken($color, 25%);
    }
  }
}

// mixin for creating the selector icons and list icons
@mixin icon-button($fill, $size) {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  color: $fill;
  padding: 6px 8px;

  * {
    // any text inside buttons should be smooth
    -webkit-font-smoothing: auto;
  }

  // set icon sizes
  svg {
    width: $size;
    height: $size;
  }

  // set fill color
  svg,
  svg * {
    fill: $fill;
    transition: 150ms fill ease-out;
  }

  // subtle hover state
  &:hover svg,
  &:hover svg * {
    fill: darken($fill, 5%);
    transition: 150ms fill ease-out;
  }

  // subtle active state
  &:active svg,
  &:active svg * {
    fill: darken($fill, 10%);
    transition: 50ms fill ease-out;
  }

  // note: hover and active states are different than our regular outlined buttons,
  // since the border-radius is applied to their parent elements
  // (which means we can't set the background-color for each button without
  // doing a bunch of logic to set their border radii)
}
