@import 'colors';
@import 'typography';

@mixin button {
  @include primary-text();

  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  float: left;
  height: 34px;
  line-height: 16px;
  margin: 0 15px 0 0;
  outline: none;
  padding: 7px 11px 6px;
  width: auto;
}

// button styles

@mixin button-filled($color: $black-75, $text-color: $white) {
  @include button();

  background-color: $color;
  border: none;
  color: $text-color;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: lighten($color, 2%);
    transition: background-color 150ms ease-out;
  }

  &:active {
    background-color: lighten($color, 5%);
    transition: background-color 50ms ease-out;
  }

  &:disabled {
    background-color: $black-25;
    color: $text-color;
    transition: all 50ms ease-out;
  }
}

@mixin button-outlined($color: $black-75, $fill: $white) {
  @include button();

  background-color: $fill;
  border: 1px solid $color;
  color: $color;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: rgba($color, .05);
    transition: background-color 150ms ease-out;
  }

  &:active {
    background-color: rgba($color, .12);
    transition: background-color 50ms ease-out;
  }

  &:disabled {
    background-color: $fill;
    border: 1px solid $black-10;
    color: $black-10;
    transition: all 150ms ease-out;
  }
}

// semantic buttons

// primary - used for publishing, confirmations, "moving forward"
// $green

// secondary - used for "parallel actions"
// $blue

// tertiary - used for "parallel actions"
// $black-75 (default button color)

// scheduled button
// $orange (filled only)
