@import 'colors';

@mixin button-large {
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  outline: none;
  padding: 7px 14px 6px;

  &:nth-of-type(n+1) {
    margin-left: 30px;
  }
}

@mixin button-small {
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  outline: none;
  padding: 5px 10px 4px;

  &:nth-of-type(n+1) {
    margin-left: 20px;
  }
}

// button styles
// note: these are composable with both button-large and button-small

@mixin button-primary-1 {
  background-color: $green;
  border: 1px solid $green;
  color: #fff;
}

@mixin button-primary-2 {
  background-color: #fff;
  border: 1px solid $green;
  color: $green;
}

@mixin button-secondary-1 {
  background-color: $black-50;
  border: 1px solid $black-50;
  color: $green;
}

@mixin button-secondary-2 {
  background-color: #fff;
  border: 1px solid $black-50;
  color: $black-50;
}

@mixin button-tertiary {
  background-color: #fff;
  border: 1px solid $blue;
  color: $blue;
}

@mixin button-warning {
  background-color: $red;
  border: 1px solid $red;
  color: #fff;
}

// icon buttons

@mixin icon-large {
  background-color: #fff;
  border: 1px solid $blue;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  padding: 0;
  position: relative;
}

@mixin icon-small {
  background-color: #fff;
  border: 1px solid $blue;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  padding: 0;
  position: relative;
}
