@import 'colors';
@import 'typography';

@mixin button-large {
  @include overlay-copy();

  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  float: left;
  font-size: 30px;
  height: 34px;
  line-height: 44px;
  margin: 0;
  margin-right: 20px;
  outline: none;
  padding: 7px 14px 6px;
  width: auto;
}

@mixin button-small {
  @include overlay-copy();

  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  float: left;
  font-size: 20px;
  height: 34px;
  line-height: 34px;
  margin: 0;
  margin-right: 15px;
  outline: none;
  padding: 6px 8px 4px;
}

// button styles
// note: these are composable with both button-large and button-small

@mixin button-filled($color: $black-75) {
  background-color: $color;
  color: #fff;
}

@mixin button-outlined($color: $black-75, $fill: #fff) {
  background-color: $fill;
  border: 1px solid $color;
  color: $color;
}
