// blue - used for page-specific components, saving
$blue-10: #F0F7F9;
$blue-25: #C5E0E9;
$blue-50: #8BC0D4;
$blue-75: #51A2BF;
$blue-100: #1782A9;
$blue: $blue-100;

// brown - used for drafts and saving
$brown-10: #ffb687;
$brown-25: #e9a77b;
$brown-50: #d69971;
$brown-75: #b98462;
$brown-100: #a17355;
$brown: $brown-100;

// orange - used for scheduling
$orange-50: #f0bd5f;
$orange-75: #efa72f;
$orange-100: #cc8e28;
$orange: $orange-100;

// purple - used for layout-specific components
$purple-10: rgba(104,76,120,0.10);
$purple-25: #D9D2DD;
$purple-50: #B4A5BC;
$purple-75: #8F799B;
$purple-100: #694C79;
$purple: $purple-100;

// red - used for errors
$red-10: #FBEAE8;
$red-25: #F6CBC6;
$red-50: #EE978D;
$red-75: #E66355;
$red-100: #DD2F1C;
$red: $red-100;

// green - used for publishing
$green-10: #E7F4E9;
$green-25: #C4E4C8;
$green-50: #89CA91;
$green-75: #4FB05B;
$green-100: #149524;
$green: $green-100;

// monochrome - general layout elements and typography
$white: #fff; // note - we may make this slightly darker at some point
$grey: #f4f4f4;
$black-10: #E7E7E7;
$black-25: #C3C3C3;
$black-50: #888;
$black-60: #666;
$black-75: #4D4D4D;
$black-100: #111111;
$black: $black-100;

// overlays and shadows
$overlay-background: rgba(17, 17, 17, .5);
$overlay-shadow: rgba(0, 0, 0, .07);
$input-shadow: rgba(0, 0, 0, .3);
$drag-shadow: rgba(0, 0, 0, .3); // different use case than input-shadow
$drag-error: rgba(215, 39, 39, .41);
$drag-saving: rgba($blue-75, .41);
