// basic colors

$light-grey: #fafafa;
$grey: #efefef;
$grey-transparent: rgba(34, 34, 34, .35);

// 25% 50% 75% 100%

// black
$black-25: #ccc;
$black-50: #999;
$black-75: #444;
$black-100: #222;
$black: $black-100;

// green - used for publishing
$green: #009618;

// red - used for errors
$red: #dd2f1c;

// blue - used for saving, versioning
$blue: #2389b1;

// orange - used for scheduling
$orange: #e67e22;
