// states (used by progress bar, status message, publish button)
$draft: #c8b585;
$scheduled: #d29c31;
$published: #599f61;
$offline: #888;
$error: #a86667;
$save: #229ed3;

// Toolbar - View Mode
$toolbar-view: #585c60;
$toolbar-view-border: #898c8f;

// Toolbar - Edit Mode
$toolbar-edit: #999c9e;
$toolbar-edit-border: #b7b9ba;

// selector borders
// note: other greys will be phased out in favor of semantic grey colors
$selector-border: #727272;
$selector-icon: $selector-border;
$selector-text: $selector-border;
$selector-bg: rgba(255, 255, 255, .95); // background of selector menus
$selector-overlay: rgba(255, 255, 255, .4); // fade other components

// placeholder colors
$placeholder-label: $selector-icon;
$placeholder-label-border: #abdaee;
$permanent-placeholder-label: #a6a6a6;
$permanent-placeholder-label-border: #ccc;
$placeholder-border: #229ed3;
$placeholder-background: #eff8fc;
$permanent-placeholder-border: $selector-border;
$permanent-placeholder-background: #f5f5f5;

// forms
$form-field-label: #727272;
$form-field-description: #727272;
$form-input: #585C60;
$form-input-border: #D6D6D6;

// behaviors
$behavior-required: #229ed3;

// panes
$pane-title: #727272;
$pane-icon: #727272;
$pane-header-border: #D6D6D6;
$pane-border: #979797;
$pane-tab-active: $selector-border;
$pane-input-border: #E8E8E8;
$pane-input-placeholder: #9B9B9B;
$pane-text: #584C60;
$pane-list-divier: #F4F4F4;


// DEPRECATED COLORS BELOW

// blue - used for page-specific components
$blue-10: #f6fdff;
$blue-25: #7edbfc;
$blue-50: #2abcf6;
$blue-75: #28b4eb;
$blue-100: #229ed3;
$blue: $blue-100;

// purple - used for layout-specific components
$purple-10: #fbf3ff;
$purple-25: #e1cfec;
$purple-50: #bc99d1;
$purple-75: #8d6e9f;
$purple-100: #694C79;
$purple: $purple-100;

// red - used for errors
$red-10: #FBEAE8;
$red-25: #F6CBC6;
$red-50: #EE978D;
$red-75: #E66355;
$red-100: #DD2F1C;
$red: $red-100;

// monochrome - general layout elements and typography
$white: #fff; // note - we may make this slightly darker at some point
$grey: #f4f4f4;
$black-10: #E7E7E7;
$black-25: #C3C3C3;
$black-30: #aaa;
$black-50: #888;
$black-60: #666;
$black-75: #4D4D4D;
$black-100: #111111;
$black: $black-100;

// overlays and shadows
$overlay-background: rgba(17, 17, 17, .5);
$overlay-shadow: rgba(0, 0, 0, .07);
$input-shadow: rgba(0, 0, 0, .4);
$drag-shadow: rgba(0, 0, 0, .3); // different use case than input-shadow
$drag-error: rgba(215, 39, 39, .41);
$drag-saving: rgba($blue-75, .41);
