@import 'mixins';
@import 'buttons';
@import 'typography';
@import 'colors';

@mixin form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  max-height: calc(70vh - 44px);
  min-width: 100px;
  padding: 0;
  position: relative;
  z-index: 1;

  & > form {
    @include clearfix();

    flex: 0 0 100%;
    overflow: visible;
    padding: 0;
  }

  .input-container {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    overflow: scroll;
    padding: 18px;
  }

  // hidden submit button that's added to the form if it's not valid
  .hidden-submit {
    display: none;
  }
}

@mixin field() {
  @include clearfix();

  flex: 0 0 100%;
  min-width: 100px;
  position: relative;

  // Spacing between fields
  & + & {
    margin-top: 44px;
  }

  .field-before,
  .field-main,
  .field-after {
    clear: both;
  }

  // if the main field has multiple items (e.g. a button before/after an input),
  // set the width so they're all on the same line
  .main-2 > input,
  .main-2 > textarea,
  .main-2 > .wysiwyg-input {
    width: calc(100% - 44px);
  }

  .main-3 > input,
  .main-3 > textarea,
  .main-3 > .wysiwyg-input {
    width: calc(100% - 88px);
  }
}
