@import 'mixins';
@import 'typography';
@import 'colors';

@mixin form {
  align-items: flex-start;
  cursor: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  min-width: 100px;
  padding: 0;
  position: relative;
  z-index: 1;

  & > form {
    @include clearfix();

    flex: 0 0 100%;
    height: 100%;
    overflow: visible;
    padding: 0;
    width: 100%;
  }

  .input-container {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    overflow: auto;
    padding: 18px;
  }

  // hidden submit button that's added to the form if it's not valid
  .hidden-submit {
    display: none;
  }
}
