@import 'colors';
@import 'typography';

@mixin input {
  @include body-copy();

  background-color: #fff;
  border: 1px solid $black-25;
  box-shadow: inset 2px 1px 6px 0 $shadow-30;
  cursor: text;
  display: inline-block;
  line-height: 24px;
  margin: 0;
  min-height: 20px;
  outline: none;
  padding: 6px 10px;
  position: relative;
  white-space: pre; // prevents &nbsp;, which messes with character counts
  width: 100%;

  &.error,
  &:invalid {
    border: 1px solid $red;
  }

  &.warning {
    border: 1px solid $yellow;
  }
}
