@import 'colors';
@import 'typography';

@mixin input {
  @include kiln-copy();

  background-color: #fff;
  border: 1px solid $form-input-border;
  border-radius: 0;
  box-shadow: inset 0px 1px 2px -3px $input-shadow;
  color: $form-input;
  cursor: text;
  display: inline-block;
  font-family: $open-sans-semibold, $system-fonts;
  line-height: 1.4;
  margin: 0;
  min-height: 48px;
  outline: none;
  padding: 10px;
  position: relative;
  transition: border 100ms ease-out;
  white-space: normal;
  width: 100%;

  &.error,
  &:invalid {
    border: 1px solid $red-25;
    transition: border 150ms ease-out;
  }

  &:disabled,
  &.disabled {
    color: $black-50;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
  }

  &:not([type=checkbox]):not([type=radio]) {
    // remove things that mobile safari adds to inputs:
    // rounded borders, untoggleable inset shadows, etc
    appearance: none;
  }
}

@mixin checkbox {
  cursor: pointer;
  height: 16px;
  margin: 0 0 0 3px; // need some left margin to fit the :focus outline
  padding: 0;
  vertical-align: middle;
  width: 16px;
}

@mixin select {
  margin: 0 0 0 1px; // needs some left margin to fit the border
}
