@import 'colors';
@import 'typography';

@mixin input {
  @include input-text();

  background-color: #fff;
  border: 1px solid $black-25;
  border-radius: 0;
  box-shadow: inset 1px 1px 8px -3px $input-shadow;
  cursor: text;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  margin-top: 5px;
  min-height: 34px;
  outline: none;
  padding: 10px;
  position: relative;
  transition: border 100ms ease-out;
  white-space: normal;
  width: 100%;

  &.error,
  &:invalid {
    border: 1px solid $red-25;
    transition: border 150ms ease-out;
  }

  &:not([type=checkbox]):not([type=radio]) {
    // remove things that mobile safari adds to inputs:
    // rounded borders, untoggleable inset shadows, etc
    appearance: none;
  }
}

@mixin checkbox {
  height: 16px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 16px;
}
