// these are the levels of z-index values we're using in the editor
// all view-mode css should specify a z-index between 0 and 999
// the editor will use the levels above that

@mixin component-toolbar-layer {
  z-index: 1000;
}

@mixin toolbar-layer {
  z-index: 1010;
}

@mixin overlay-layer {
  z-index: 1020;
}

@mixin datepicker-layer {
  z-index: 1030; // must be above toolbar AND overlays
}
