@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin kiln-hide {
  display: none !important; // Always hide your skeletons and other hidden things
}
