@mixin editor-button {
  background-color: #fafafa;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  height: 25px;
  outline: none;
  padding: 4px 8px;
  transition: all 150ms ease-out;

  &:hover {
    background-color: #f0f0f0;
    border: 1px solid #888;
    transition: all 250ms ease-out;
  }

  &:active {
    background-color: #eee;
    border: 1px solid #333;
    transition: all 100ms ease-out;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}