@import 'colors';
@import 'typography';

$pane-margin: 30vh;
$easeOutExpo: cubic-bezier(.190, 1.000, .220, 1.000);
$toolbar-height: 48px;

@mixin pane {
  @include primary-text();

  background-color: $white;
  bottom: 0;
  border: 1px solid $pane-border;
  border-bottom: none;
  box-shadow: 0 0 30px 0 $overlay-shadow;
  cursor: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  max-height: 100vh - $pane-margin;
  max-width: 320px;
  min-height: $pane-margin;
  min-width: 320px;
  padding: 0;
  position: absolute;
  transition: transform 350ms $easeOutExpo;
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 90%;

    &.small {
      max-width: 350px;
    }

    &.medium {
      max-width: 500px;
    }

    &.large {
      max-width: 600px;
    }

    &.left {
      left: 0;
      right: auto;
    }

    &.center {
      left: 50%;

      &.small {
        margin-left: -125px;
      }

      &.medium {
        margin-left: -250px;
      }

      &.large {
        margin-left: -300px;
      }
    }

    &.right {
      left: auto;
      right: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
  }
}

@mixin pane-tab-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &-trigger {
    appearance: none;
    background: transparent;
    border: none;
    color: $pane-tab-title;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 15px 18px;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    &.active span {
      border-bottom: 4px solid $pane-tab-active;
    }
  }
}
