@import 'colors';
@import 'typography';
@import 'buttons';
@import 'layers';
$height: 48px;

@mixin toolbar-wrapper {
  @include toolbar-layer();

  left: 0;
  position: fixed;
  top: calc(100% - #{$height});
  width: 100%;
}

@mixin toolbar {
  align-items: center;
  background-color: $toolbar-view;
  cursor: auto;
  display: flex;
  height: $height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .kiln-toolbar-button {
    @include button-filled-large($toolbar-view, $toolbar-icons);

    flex: 0 0 auto;
  }

  .kiln-toolbar-inner {
    align-items: center;
    background-color: $toolbar-edit;
    display: flex;
    height: 100%;
    margin: 0 0 0 -3px;
    padding: 0 0 0 6px;
    position: relative;
    top: 0;

    &:before {
      background-color: $toolbar-view;
      content: '';
      height: 100%;
      position: absolute;
      right: 100%;
      top: 0;
      transform: skewX(-14deg) translateX(6px);
      width: 12px;
    }

    .kiln-toolbar-button {
      @include button-filled-large($toolbar-edit, $toolbar-icons);
    }

    .view-button {
      border-right: 1px solid $toolbar-edit-border;
    }

    .components {
      border-right: 1px solid $toolbar-edit-border;
    }

    .add-component-button {
      border-right: 1px solid $toolbar-edit-border;
    }

    .preview {
      border-left: 1px solid $toolbar-edit-border;
    }
  }

  // button borders
  .clay-menu-button {
    border-right: 1px solid $toolbar-view-border;
  }

  .button-flex-inner {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .kiln-toolbar-button .icon,
  .kiln-toolbar-button .icon svg {
    height: 18px;
    margin: 0;
    padding: 0;
    width: 18px;
  }

  .kiln-toolbar-button .text {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      margin-left: 10px;
      padding-top: 1px;
    }
  }

  .flex-span {
    flex: 1 1 auto;
  }

  .publish {
    margin-right: 0;
    transition: all 200ms ease-in-out;

    @media screen and (min-width: 1024px) {
      min-width: 130px; // largest width (scheduled)
    }
  }

  .draft {
    @include button-filled-large($draft);

    border-left: none;
  }

  .published {
    @include button-filled-large($published);

    border-left: none;
  }

  .scheduled {
    @include button-filled-large($scheduled);

    border-left: none;
  }
}

@mixin toolbar-padding {
  // when the editor toolbar is on the screen, push the page content down
  // this mixin should be applied to the `body` of the page
  padding-bottom: $height;
}
