@import 'animations';
@import 'layers';

$height: 56px;

@mixin toolbar-wrapper {
  @include toolbar-layer();

  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

@mixin toolbar-padding {
  // when the editor toolbar is on the screen, push the page content down
  // this mixin should be applied to the `body` of the page
  // and should override any layout styling
  padding-top: $height !important;
}
