@import 'colors';

// general typography
// todo: possibly switch to system styles if they work for us
//$system-fonts: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
$system-fonts: Helvetica, Arial, sans-serif;

// text that should have the same style as the component it's in
@mixin normal-text {
  color: $black;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// our typography
@mixin kiln-copy {
  font-family: $system-fonts;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}

// headers for panes and overlays
@mixin header {
  @include kiln-copy();

  color: $black;
  font-size: 24px;
  line-height: 28px;
}

// labels, used on component selector and inside forms
@mixin label {
  @include kiln-copy();

  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
}

// used as kiln text in panes and forms
@mixin primary-text {
  @include kiln-copy();

  color: $black;
}

// secondary emphasis, used in panes and forms
@mixin secondary-text {
  @include kiln-copy();

  color: $black-25;
}

// links
@mixin link {
  @include kiln-copy();

  color: $blue;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited {
    color: $blue;
    text-decoration: none;
  }
}
