@import 'colors';

// general typography
$font-stack: 'Noto Sans', Arial, sans-serif;

// text that should have the same style as the component it's in
@mixin normal-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  word-break: inherit;
}

// all kiln typography starts from this baseline
@mixin kiln-copy {
  font-family: $font-stack;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  // enable ligatures
  text-rendering: optimizeLegibility;
  // don't fix what isn't broken - http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  -webkit-font-smoothing: auto;
}

// typographic hierarchy
@mixin type-display1 {
  @include kiln-copy();

  color: $text-alt-color;
  font-size: 34px;
  letter-spacing: normal;
  line-height: 40px;
}

@mixin type-headline {
  @include kiln-copy();

  color: $text-color;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 32px;
}

@mixin type-title {
  @include kiln-copy();

  color: $text-color;
  font-size: 18px;
  letter-spacing: 0.005em;
  line-height: 20px; // single line
}

@mixin type-subheading {
  @include kiln-copy();

  color: $text-color;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 24px;
}

@mixin type-body {
  @include kiln-copy();

  color: $text-color;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 20px;
}

@mixin type-caption {
  @include kiln-copy();

  color: $text-alt-color;
  font-size: 12px;
  line-height: 16px;
}

@mixin type-button {
  @include kiln-copy();

  color: $text-color;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 14px; // single line
  text-transform: uppercase;
}

// specific typographic styles in different parts of kiln
// note: these should use the basic styles, above

// headers for panes and overlays
@mixin header {
  @include type-headline();
}

// subheader for pane tabs and form sections
@mixin subheader {
  @include type-subheading();
}

// text in form inputs
@mixin input-text {
  @include type-body();

  font-size: 16px;
  letter-spacing: normal;
  line-height: normal;
}

// form labels
@mixin input-label {
  @include type-body();

  font-size: 15px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0;
  top: 26px; // float label
}

// form help / error text
@mixin input-help {
  @include type-body();

  color: $text-alt-color;
  line-height: 1.2;
}

// placeholder typography
@mixin placeholder-primary {
  @include type-body();

  color: $text-alt-color;
  font-weight: bold;
  text-align: left;
}

@mixin placeholder-secondary {
  @include type-caption();

  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

// used as kiln text in panes and forms
@mixin primary-text {
  @include type-body();
}

// secondary emphasis, used in panes and forms
@mixin secondary-text {
  @include type-body();

  color: $text-alt-color;
}

@mixin tertiary-text {
  @include type-caption();

  font-style: italic;
}

// links
@mixin link {
  @include type-body();

  color: rgba($save, $text-opacity);
  text-decoration: none;

  &:active,
  &:visited {
    color: rgba($save, $text-opacity);
    text-decoration: none;
  }

  &:hover {
    color: rgba($save, $text-alt-opacity);
    text-decoration: none;
  }
}

// keys
@mixin keyboard-keys {
  background-color: $toolbar-icons;
  border: 1px solid $input-border;
  border-radius: 3px;
  box-shadow: 0 1px 0 $overlay-shadow, 0 0 0 2px $pane-background inset;
  color: $text-color;
  display: inline-block;
  font-size: 14px;
  font-family: monospace, sans-serif;
  font-weight: normal;
  padding: 4px 8px;
  line-height: 13px;
}

@mixin code {
  color: $text-color;
  font-family: 'Consolas', 'Menlo', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
}
