@import 'colors';

// general typography
// todo: possibly switch to system styles if they work for us
//$system-fonts: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
$open-sans: 'OpenSans';
$open-sans-italic: 'OpenSans-Italic';
$open-sans-bold: 'OpenSans-Bold';
$open-sans-semibold: 'OpenSans-SemiBold';
$open-sans-light: 'OpenSans-Light';
$system-fonts: Helvetica, Arial, sans-serif;
$combined-fonts: $open-sans, $system-fonts;

// text that should have the same style as the component it's in
@mixin normal-text {
  color: $text;
  font-family: inherit;
  font-size: inherit;
  word-break: inherit;
}

// our typography
@mixin kiln-copy {
  font-family: $combined-fonts;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

// headers for panes and overlays
@mixin header {
  @include kiln-copy();

  color: $title;
  font-size: 16px;
  font-weight: 700;
}

// subheader for pane tabs and form sections
@mixin subheader {
  @include kiln-copy();

  color: $subtitle;
  font-size: 14px;
}

// Form input labels
@mixin input-text {
  @include kiln-copy();

  color: $text;
}

// labels, used on component selector
@mixin label {
  @include input-text();

  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
}

@mixin input-label {
  @include kiln-copy();

  color: $label;
  font-family: $open-sans-bold, $system-fonts;
  font-size: 14px;
  text-transform: uppercase;
}

// placeholder typography
@mixin placeholder-primary {
  font-family: $combined-fonts;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
}

@mixin placeholder-secondary {
  font-family: $combined-fonts;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

// used as kiln text in panes and forms
@mixin primary-text {
  @include kiln-copy();

  color: $text;
}

// secondary emphasis, used in panes and forms
@mixin secondary-text {
  @include kiln-copy();

  color: $subtext;
}

// links
@mixin link {
  @include kiln-copy();

  color: $save;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited {
    color: $save;
    text-decoration: none;
  }
}
