@import 'colors';

// general typography
// todo: possibly switch to system styles if they work for us
//$system-fonts: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
$system-fonts: Helvetica, Arial, sans-serif;

@mixin normal-text {
  color: $black;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
}

// Annie says she prefers the idea of level 1 and level 2 copy.
@mixin small-text {
  color: $black;
  font-family: inherit;
  font-size: 13px;
  line-height: 16px;
}

@mixin overlay-copy {
  font-family: $system-fonts;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

@mixin section-header {
  color: #fff;
  font-family: $system-fonts;
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
}

@mixin label {
  @include normal-text();

  display: inline-block;
  font-family: $system-fonts;
  font-weight: 700;
  margin-bottom: 5px;
}

// links
@mixin link {
  @include normal-text();

  color: $blue;
  font-family: $system-fonts;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited {
    color: $blue;
    text-decoration: none;
  }
}
