@import '../styleguide/buttons';
@import '../styleguide/colors';
@import '../styleguide/mixins';
@import '../styleguide/typography';

.component-list-bottom {
  @include clearfix();

  clear: both;
  margin: 0 12px 12px 0;
  width: 100%;
}

.open-add-components,
.open-add-components:nth-of-type(n+1) {
  @include button-large();
  @include button-outlined($blue, #fff);

  cursor: pointer;
  float: left;
  margin: 0 auto;
  padding: 0;
}

.open-add-components-inner {
  color: $blue;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 30px;
  height: 38px;
  line-height: 38px;
  margin: 0;
  padding: 0;
  text-align: center;
  transform: rotate(0deg) scale(1);
  transition: transform 200ms ease-out;
  user-select: none;
  width: 38px;
}

.open-add-components.open .open-add-components-inner {
  transform: rotate(135deg) scale(1);
  transition: transform 250ms ease-out;
}

@keyframes openPanel {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.add-components-pane {
  float: right;
  height: 1px;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 200ms ease-out;
  width: calc(100% - 60px);
}

.add-components-pane.open {
  animation-delay: 50ms;
  animation-direction: normal;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-name: openPanel;
  animation-timing-function: ease-out;
  height: auto;
}

.add-component {
  @include button-large();
  @include button-outlined($blue, #fff);

  margin: 0 15px 15px 0;
}
