@import '../styleguide/buttons';
@import '../styleguide/colors';
@import '../styleguide/mixins';

.component-list-bottom {
  @include clearfix();

  clear: both;
  margin: 0 12px 12px 0;
  width: 100%;
}

.open-add-components,
.open-add-components:nth-of-type(n+1) {
  @include icon-large();

  cursor: pointer;
  float: left;
  margin: 0 auto;
  padding: 0;
}

.open-add-components-inner {
  color: $blue;
  display: block;
  font-size: 30px;
  height: 38px;
  line-height: 34px;
  text-align: center;
  transform: rotate(0deg);
  transition: margin 200ms ease-out, transform 200ms ease-out;
  user-select: none;
  width: 38px;
}

.open-add-components.open .open-add-components-inner {
  margin: 1px 0 0 1px;
  transform: rotate(135deg);
  transition: margin 250ms ease-out, transform 250ms ease-out;
}

.add-components-pane {
  display: none;
  float: right;
  width: calc(100% - 60px);
}

.add-components-pane.open {
  display: block;
}

.add-component {
  @include button-large();
  @include button-tertiary();

  margin: 0 15px 15px 0;
}
