// the classes in this file are usable throughout kiln and within kiln plugins

@import 'mixins';
@import 'typography';
@import 'colors';

// generic class to hide elements
.kiln-hide {
  @include kiln-hide();
}

.kiln-clearfix {
  @include clearfix();
}

// exported typography
.kiln-normal-text {
  @include normal-text();
}

.kiln-display1 {
  @include type-display1();
}

.kiln-headline {
  @include type-headline();
}

.kiln-title {
  @include type-title();
}

.kiln-subheading {
  @include type-subheading();
}

.kiln-body {
  @include type-body();
}

.kiln-caption {
  @include type-caption();
}

.kiln-button {
  @include type-button();
}

.kiln-list-header {
  @include type-list-header();
}

.kiln-link {
  @include link();
}

.kiln-link-invalid {
 color: #FF0000 !important;
}

.kiln-keyboard {
  @include keyboard-keys();
}

.kiln-code {
  @include code();
}

// color classes are useful for kiln plugins that use KeenUI components,
// as those components may use the `color` of the containing element to
// determine their colors (e.g. ui-ripple-ink)
.kiln-primary-color {
  color: $brand-primary-color;
}

.kiln-accent-color {
  color: $brand-accent-color;
}

.ui-tooltip {
  font-family: $font-stack;
}

.ui-textbox__feedback {
  font-family: $font-stack;
}

.ui-textbox {
  // override margins, since fields will set them
  margin: 0;
}

.ui-button__content {
  // 14px buttons with white on blue (A400) neet to be bold for accesibility
  font-weight: 600;
}

.ui-button--type-primary.ui-button--color-default .ui-button__icon,
.ui-button--type-primary.ui-button--color-default .ui-button__dropdown-icon {
  // icons for default color buttons should be the same color as the text
  color: $text-color;
}

// html element in edit mode gets a smaller base font size
// this sets the base sizing for KeenUI components, as they all use rem
html.component-selector-wrapper {
  font-size: 16px;
}
