@import 'colors';
@import 'typography';
@import 'layers';
// Using px because the gap needs to be px so that it does not disappear, and can only add with same units.
$bar-height: 44px; // drag, settings, delete, etc are square so width = height.
$bar-parent-height: 22px;
$bar-bd-height: 3px;
$bar-gap: 2px;
$bar-label-width: 76px;
$bar-gap-color: rgba(255, 255, 255, .95);
$bar-bg-color: rgba(23, 130, 169, .9);
$bar-parent-bg-color: rgba(139, 191, 211, .9);


// Wrapper around parent and component.
.component-bar-wrapper {
  position: relative;
}

// Parent's bar hidden for now.
.component-bar-wrapper.selected-parent > .component-bar {
  display: none;
  opacity: 0;
}

// Selected bar
.component-bar-wrapper.selected > .component-bar {
  display: flex;
  opacity: 1;
}

// Bar on a selected component
.component-bar {
  @include overlay-copy();
  @include component-toolbar-layer();

  align-content: flex-end;
  align-items: stretch;
  display: none;
  flex-flow: row nowrap;
  height: $bar-height;
  justify-content: flex-start;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -$bar-height;
  transition: opacity .15s ease-in-out;
  width: 100%;

  @media screen and (min-width: 600px) {
    height: $bar-height * .8;
    top: -$bar-height * .8;
  }

  @media screen and (min-width: 1024px) {
    height: $bar-height * .6;
    top: -$bar-height * .6;
  }
}

// All labels
.component-bar .label {
  @include label();

  background: $bar-bg-color;
  color: #fff;
  cursor: default;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: $bar-height;
  line-height: $bar-height;
  margin: 0;
  overflow: hidden;
  padding: 0 5px;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;

  @media screen and (min-width: 600px) {
    font-size: 13px;
    height: $bar-height * .8;
    line-height: $bar-height * .8;
  }

  @media screen and (min-width: 1024px) {
    font-size: 11px;
    height: $bar-height * .6;
    line-height: $bar-height * .6;
  }
}

.component-bar > .selected-label {
  align-items: center;
  border-bottom: $bar-gap solid $bar-gap-color;
  display: flex;
  flex: 0 1 100%;

  .drag-icon {
    margin: 0 5px 0 2.5px;
  }
}

// Parent's label
.component-bar > .parent.label {
  align-items: center;
  background: $bar-parent-bg-color;
  border-bottom: $bar-gap solid $bar-gap-color;
  bottom: 100%;
  cursor: pointer;
  display: flex;
  height: $bar-parent-height;
  left: 0;
  line-height: $bar-parent-height;
  margin: 0;
  padding: 5px;
  position: absolute;
  width: 100%;

  img {
    margin: 0 2.5px;
  }

  span {
    margin: 0 2.5px;
  }
}

// Menu
.component-bar > .menu-toggle {
  background: $bar-bg-color;
  border-left: $bar-gap solid $bar-gap-color;
  border-bottom: $bar-gap solid $bar-gap-color;
  cursor: pointer;
  display: block;
  flex: 0 0 $bar-height;
  height: $bar-height;
  margin: 0;
  padding: 0;
  position: relative;
  width: $bar-height;

  @media screen and (min-width: 600px) {
    flex: 0 0 $bar-height * .8;
    height: $bar-height * .8;
    width: $bar-height * .8;
  }

  @media screen and (min-width: 1024px) {
    flex: 0 0 $bar-height * .6;
    height: $bar-height * .6;
    width: $bar-height * .6;
  }

  img {
    height: auto;
    left: -30%;
    margin: 50% 50%;
    position: absolute;
    top: -2px;
    width: 60%;
  }
}

.component-bar > .menu-toggle.open {
  border-bottom: $bar-gap solid $bar-bg-color;
}

.component-bar > .menu {
  @include component-toolbar-layer();

  background: $bar-bg-color;
  display: none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: auto;
}

.component-bar > .menu.open {
  display: block;
}

.component-bar .menu li {
  align-items: center;
  border-bottom: $bar-gap solid $bar-gap-color;
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 5px;
  position: relative;
  width: auto;

  &:last-of-type {
    border-bottom: none;
  }

  @media screen and (min-width: 600px) {
    padding: 20px 10px;
  }

  @media screen and (min-width: 1024px) {
    padding: 18px 8px;
  }

  img,
  .menu-item {
    margin: 0 2.5px;

    @media screen and (min-width: 600px) {
      margin: 0 5px;
    }
  }
}

.component-bar .drag {
  cursor: grab;
}

// all editable elements should have some kind of ux showing they can be edited
[data-editable] {
  cursor: pointer;
}
