@import 'colors';
@import 'typography';
@import 'layers';
// Using px because the gap needs to be px so that it does not disappear, and can only add with same units.
$bar-height: 44px; // drag, settings, delete, etc are square so width = height.
$bar-parent-height: 22px;
$bar-gap: 2px;
$bar-label-width: 76px;
$bar-gap-color: $white;

// bar colors

// page-specific
$page-bg-color: $blue;
$page-parent-bg-color: $blue-50;

// layout-specific
// todo: use these when we have a solution for layout editing
$layout-bg-color: $purple;
$layout-parent-bg-color: $purple-50;


// Wrapper around parent and component.
.component-bar-wrapper {
  position: relative;
}

// Parent's bar hidden for now.
.component-bar-wrapper.selected-parent > .component-bar {
  display: none;
  opacity: 0;
}

// Selected bar
.component-bar-wrapper.selected > .component-bar {
  display: flex;
  opacity: 1;
}

// Bar on a selected component
.component-bar {
  @include kiln-copy();
  @include component-toolbar-layer();

  align-content: flex-end;
  align-items: stretch;
  display: none;
  flex-flow: row nowrap;
  height: $bar-height;
  justify-content: flex-start;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -$bar-height;
  transition: opacity .15s ease-in-out;
  width: 100%;
}

// All labels
.component-bar .label {
  @include label();

  background: $page-bg-color;
  color: #fff;
  cursor: default;
  display: block;
  font-size: 14px;
  height: $bar-height;
  line-height: $bar-height;
  margin: 0;
  overflow: hidden;
  padding: 0 5px;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.component-bar > .selected-label {
  align-items: center;
  border-bottom: $bar-gap solid $bar-gap-color;
  display: flex;
  flex: 0 1 100%;

  .drag-icon {
    height: 30px;
    margin: 0 5.5px 0 0;
  }
}

// Parent's label
.component-bar > .parent.label {
  align-items: center;
  background: $page-parent-bg-color;
  border-bottom: $bar-gap solid $bar-gap-color;
  bottom: 100%;
  cursor: pointer;
  display: flex;
  height: $bar-parent-height;
  left: 0;
  line-height: $bar-parent-height;
  margin: 0;
  padding: 5px;
  position: absolute;
  width: 100%;

  img {
    height: 14px;
    margin: 0 2.5px 0 0;
  }

  span {
    margin: 0 7px;
  }
}

// Menu
.component-bar > .menu-toggle {
  background: $page-bg-color;
  border-bottom: $bar-gap solid $bar-gap-color;
  border-left: $bar-gap solid $bar-gap-color;
  cursor: pointer;
  display: block;
  flex: 0 0 $bar-height;
  height: $bar-height;
  margin: 0;
  padding: 0;
  position: relative;
  width: $bar-height;

  img {
    height: auto;
    left: -30%;
    margin: 50% 50%;
    position: absolute;
    top: -2px;
    width: 60%;
  }
}

.component-bar > .menu-toggle.open {
  border-bottom: none;
}

.component-bar > .menu {
  @include component-toolbar-layer();

  display: none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: auto;
}

.component-bar > .menu.open {
  display: block;
}

.component-bar .menu li {
  align-items: center;
  border-bottom: $bar-gap solid $bar-gap-color;
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 5px;
  position: relative;
  width: auto;

  &:last-of-type {
    border-bottom: none;
  }

  img,
  .menu-item {
    margin: 0 6px 0 2px;
  }
}

.component-bar .drag {
  cursor: grab;
}

// all editable elements should have some kind of ux showing they can be edited
[data-editable] {
  cursor: pointer;
}
