@import 'layers';
@import 'typography';
@import 'colors';
@import '~flatpickr/dist/flatpickr.min.css';

.flatpickr-wrapper.static {
  display: block; // always show the inputs
}

.flatpickr-calendar.open {
  @include datepicker-layer();

  // not the full kiln-copy (no sizes, overrides, etc)
  font-family: $system-fonts;
}

// right align the time picker, preventing overflow to the right of the pane
.schedule-input[type='time'] + .flatpickr-calendar {
  left: auto;
  right: 0;
}

.flatpickr-month {
  padding: 6px 10px 4px;
}

.flatpickr-weekdays {
  font-size: 11.5px;
}

.flatpickr-time {
  height: auto;
}

.flatpickr-hour,
.flatpickr-minute,
.flatpickr-am-pm {
  font-size: 14px;
}

// use our blue for selected date
.flatpickr-day.selected,
.flatpickr-day.selected:hover {
  background: $blue none repeat scroll 0% 0%;
  border-color: $blue;
}
