@import 'colors';
@import 'typography';
@import 'inputs';
@import 'buttons';

.filterable-list-wrapper {
  width: 100%;
}

/* filtered item search pane (add component, possibly new page in the future) */

.filterable-list-wrapper .filtered-input {
  @include input();

  margin: 0;
  position: relative;
  width: 100%;
}

.filterable-list-wrapper .filtered-items {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.filterable-list-wrapper .filtered-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  width: 100%;
}

.filterable-list-wrapper .filtered-item.filtered {
  display: none;
}

.filterable-list-wrapper .filtered-item:not(.filtered) {
  border-bottom: 1px solid $grey;
  transition: 200ms border-bottom-color ease-out;
}

.filterable-list-wrapper .filtered-item:focus {
  border-bottom: 1px solid $blue;
  outline: none;
  transition: 200ms border-bottom-color ease-out;
}

.filterable-list-wrapper .filtered-item.active {
  border-bottom: 2px solid $blue;
}

.filterable-list-wrapper .filtered-item-reorder {
  @include icon-button($black-25, 18px);

  flex: 0 0 auto;
  margin-right: 10px;
  padding: 0;
}

.filterable-list-wrapper .filtered-item-title {
  @include primary-text();

  flex: 1 0 auto;
}

.filterable-list-wrapper .filtered-item-remove,
.filterable-list-wrapper .filtered-item-settings {
  @include icon-button($black-75, 24px);

  flex: 0 0 auto;
  margin-left: 5px;
  padding: 0;
}

// animations

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  20%, 60% {transform: translateX(-5px);}
  40%, 80% {transform: translateX(5px);}
}

.kiln-shake {
  animation-name: shake;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
