@import 'mixins';
@import 'buttons';
@import 'typography';
@import 'colors';

.editor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  max-height: 100%;
  min-width: 200px;
  padding: 0;
  position: relative;
}

.editor > header {
  @include section-header();

  bottom: calc(100% + 38px);
  left: -32px;
  position: absolute;
}

.editor > form {
  @include clearfix();

  flex: 0 0 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.editor .button-container {
  position: absolute;
  top: calc(100% + 60px);
  left: -32px;
}

.editor .button-container .save {
  @include button-large();
  @include button-primary-1();
}

/* Input container contains inputs, textareas, or whatever else, arranged in columns from top to bottom.  Each item
 is in its own column. */
.editor .input-container {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
}

/* labels are containers that refer to inputs, textareas, or whatever else */
.editor .input-label {
  @include clearfix();

  flex: 0 0 100%;
  margin: 10px 0 20px;
  min-width: 10rem;
  position: relative;
}

.editor-inline .input-label {
  margin: 0;
}

.editor .label-inner {
  @include label();

  margin-right: 10px;
}

// when inline forms are opened, the other children of the parent element are hidden
.hidden-wrapped {
  display: none;
}
