@import 'mixins';
@import 'buttons';
@import 'typography';
@import 'colors';

.editor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  max-height: 100%;
  min-width: 100px;
  padding: 0;
  position: relative;
  z-index: 1;
}

.editor-overlay .editor {
  height: 100%;
}

.editor > form {
  @include clearfix();

  background-color: $white;
  flex: 0 0 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
}

.editor-overlay form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor > form > header {
  align-items: flex-start;
  border-bottom: 1px solid $grey;
  display: flex;
  flex: 1 0 auto;
  padding: 13px 20px;
  width: 100%;
}

.editor > form > header .form-header {
  @include header();

  flex: 1 1 auto;
  margin-top: 9px;
}

.editor .save {
  @include button-outlined($draft);

  flex: 0 0 auto;
  margin-left: 30px;
  margin-right: 0;
}

.editor .input-container {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  overflow: scroll;
  padding: 30px 20px 50px;
}

.editor-inline {
  max-width: 90vw;
  margin: 0 auto;
}

.editor-inline .input-container {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

/* labels are containers that refer to inputs, textareas, or whatever else */
.editor .kiln-field {
  @include clearfix();

  flex: 0 0 100%;
  margin: 10px 0 20px;
  min-width: 100px;
  position: relative;
}

.editor-inline .kiln-field {
  margin: 0;
  text-align: left; // override component styling
}

// when inline forms are opened, the other children of the parent element are hidden
.hidden-wrapped {
  display: none;
}

// hidden submit button that's added to the form if it's not valid
.hidden-submit {
  display: none;
}

.field-before,
.field-main,
.field-after {
  clear: both;
}

// if the main field has multiple items (e.g. a button before/after an input),
// set the width so they're all on the same line
.main-2 > input,
.main-2 > textarea {
  width: calc(100% - 44px);
}

.main-3 > input,
.main-3 > textarea {
  width: calc(100% - 88px);
}
