/* modal */
@import 'mixins';

.editor-modal-overlay {
  background-color: rgba(0,0,0,.8);
  display: block;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
}

.editor-modal {
  background-color: #fff;
  border-radius: 4px;
  margin: 60px auto 30px;
  max-width: 500px;
  min-height: 50px;
  overflow: visible;
  padding: 20px;
  position: relative;
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
  }
}

/* don't scroll the page when modal is open */
.noscroll {
  height: 100%;
}
.noscroll > body {
  height: 100%;
  overflow: hidden;
}
