@import 'colors';
@import 'layers';
@import 'typography';

.editor-overlay-background {
  @include overlay-layer();

  background-color: $shadow-80;
  display: block;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
}

.editor-overlay {
  @include overlay-copy();

  background-color: #fff;
  border-radius: 4px;
  margin: 16.5rem auto 20rem;
  max-width: 700px;
  min-height: 50px;
  overflow: visible;
  padding: 22px 32px 30px;
  position: relative;
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
  }
}

/* don't scroll the page when overlay is open */
.noscroll {
  height: 100%;
}
.noscroll > body {
  height: 100%;
  overflow: hidden;
}
