@import 'colors';
@import 'layers';
@import 'typography';
$overlay-margin: 10vh;

.editor-overlay-background {
  @include overlay-layer();

  background-color: $overlay-background;
  display: block;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  transform: translateZ(0); // create a new viewport context
  width: 100%;
  z-index: 1;
}

// transition
.fade-enter-active, .fade-leave-active {
  transition: opacity 100ms ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.editor-overlay {
  @include primary-text();

  background-color: $white;
  box-shadow: 0 0 30px 0 $overlay-shadow;
  margin: $overlay-margin auto 60px;
  max-width: 700px;
  min-height: 50px;
  overflow: visible;
  position: relative;
  width: 100%;
  z-index: 2;

  @media screen and (min-width: 600px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
  }
}

/* don't scroll the page when overlay (or pane) is open */
.noscroll {
  height: 100%;
  overflow: hidden;
}
