@import 'mixins';
@import 'colors';
@import 'layers';
@import 'buttons';
@import 'typography';
@import 'inputs';
$pane-margin: 30vh;
$easeOutExpo: cubic-bezier(.190, 1.000, .220, 1.000);

.kiln-hide {
  @include kiln-hide();
}

.kiln-toolbar-pane-background {
  background-color: $overlay-background;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.kiln-toolbar-pane {
  @include primary-text();

  background-color: $white;
  bottom: 60px;
  box-shadow: 0 0 30px 0 $overlay-shadow;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 0;
  max-height: 100 - $pane-margin;
  max-width: 375px;
  min-height: 50px;
  min-width: 200px;
  padding: 0;
  position: absolute;
  right: 0;
  transform: translateY(100%);
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
  }

  &.on {
    transform: translateY(0);
    transition: transform 350ms $easeOutExpo;
  }
}

.kiln-toolbar-pane header {
  align-items: flex-start;
  border-bottom: 1px solid $grey;
  display: flex;
  flex: 0 0 auto;
  padding: 13px 20px;
  width: 100%;
}

.kiln-toolbar-pane .pane-header {
  @include header();

  flex: 1 1 auto;
  margin-top: 9px;
}

.kiln-toolbar-pane .close {
  @include button();

  background-color: $white;
  border: none;
  flex: 0 0 auto;
  margin-left: 30px;
  margin-right: 0;
  padding-right: 0;
}

.kiln-toolbar-pane .pane-inner {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px 20px 40px;
}

@mixin pane-border-before {
  position: relative;
  width: 100%;

  &:before {
    border-top: 1px solid $grey;
    content: '';
    left: -20px;
    position: absolute;
    top: 0;
    width: calc(100% + 40px);
  }
}

@mixin pane-border-after {
  position: relative;
  width: 100%;

  &:after {
    border-bottom: 1px solid $grey;
    bottom: 0;
    content: '';
    left: -20px;
    position: absolute;
    width: calc(100% + 40px);
  }
}

@mixin full-width {
  float: none; // overrides button float
  margin: 0;
  position: relative;
  width: 100%;
}

/* types of panes */

/* publish */

// undo actions
.kiln-toolbar-pane .undo {
  @include pane-border-after();
}

.kiln-toolbar-pane .unpublish {
  @include button-outlined($black-50, $white);
  @include full-width();

  margin-bottom: 20px;
  // will space buttons when both are visible, otherwise will space bottom border
}

.kiln-toolbar-pane .unschedule {
  @include button-outlined($black-50, $white);
  @include full-width();

  margin-bottom: 20px;
  // will space buttons when both are visible, otherwise will space bottom border
}

// validation messages
.kiln-toolbar-pane .publish-valid {
  align-items: center;
  display: flex;
  padding: 20px 0;
}

.kiln-toolbar-pane .kiln-hide + .publish-valid {
  padding: 0 0 20px; // if undo is hidden, we don't need top padding
}

.kiln-toolbar-pane .undo:not(.kiln-hide) + .warning-message {
  padding: 20px 0 20px; // if undo is shown, we need extra padding
  // note: we can't just check for .kiln-hide because warnings also appear
  // in the errors pane
}

.kiln-toolbar-pane .publish-valid-icon {
  margin-right: 16px;
}

.publish-valid-icon svg {
  display: inline-block;
  fill: $green;
  height: 24px;
  width: 24px;
}

.publish-valid-message {
  color: $green;
  margin: 4px 0; // vertically center with the icon (24px - 16px)
}

// info / status messages
.kiln-toolbar-pane .messages {
  @include pane-border-before(); // will display after validation or warnings
  @include full-width();

  padding: 20px 0;

  p {
    color: $black-50;
    margin: 0;
    padding: 0;
  }
}

// publish now
.kiln-toolbar-pane .actions {
  @include full-width();
}

.kiln-toolbar-pane .publish-now {
  @include button-outlined($green, $white);
  @include full-width();
}

// schedule form
.kiln-toolbar-pane .schedule-border {
  // needs a separate element because firefox has issues with absolutely-positioned
  // child elements of flexbox containers that use justify-content: space-between
  @include pane-border-before();
  @include full-width();

  margin: 20px 0 0;
  padding: 20px 0 0;
}
.kiln-toolbar-pane .schedule {
  @include full-width();

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

$schedule-item-width: calc(50% - 8px);
// close enough to 10px (standard margins in this form),
// but enough space for chrome to display its datepicker toggles

.kiln-toolbar-pane .schedule-item {
  flex: 0 0 $schedule-item-width;
  width: $schedule-item-width;
}

.kiln-toolbar-pane .schedule-label {
  @include label();

  margin: 0 0 5px;
}

.kiln-toolbar-pane .schedule-input,
.kiln-toolbar-pane .kiln-input { // generic input class, used by flatpickr
  @include input();

  cursor: initial;
  margin: 0;
  padding: 8px 10px 7px;
}

.kiln-toolbar-pane .schedule-input::-webkit-calendar-picker-indicator {
  display: block;
}

.kiln-toolbar-pane .schedule-publish {
  @include button-outlined($orange, $white);
  @include full-width();

  margin-top: 20px;
}

/* validation errors */

.kiln-toolbar-pane .error-message {
  @include primary-text();

  color: $red;
  padding: 0 0 20px;
}

.kiln-toolbar-pane .publish-error {
  @include pane-border-before();
  @include primary-text();

  padding: 20px 0;

  .label {
    color: $red;
    text-transform: uppercase;
  }

  .errors {
    margin: 10px 0 0 20px;
    padding: 0;

    li {
      margin-top: 5px;
    }
  }
}

// special color for warnings
.kiln-toolbar-pane .publish-warning .label {
  color: $orange;
}

.kiln-toolbar-pane .warning-message {
  @include primary-text();

  color: $orange;
  padding: 0 0 20px;
}

.kiln-toolbar-pane .error-preview {
  @include secondary-text();

  font-style: italic;
  margin-left: 5px;
}

/* easter egg pane */

.kiln-toolbar-pane .cats-ayb {
  height: 200px;
  width: 335px;
}

.kiln-toolbar-pane .ayb-header {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  top: -6px;
}

.kiln-toolbar-pane .error-message.ayb {
  padding: 20px 0;
}

.kiln-toolbar-pane .publish-error .description.ayb {
  padding-top: 20px;
}

/* preview pane */

.kiln-toolbar-pane .info-message {
  @include primary-text();

  color: $black-50;
  padding: 0 0 20px;
}

.kiln-toolbar-pane .preview-actions {
  width: 100%;
}

.kiln-toolbar-pane .preview-input {
  @include input();

  cursor: initial;
  margin: 0;
  padding: 8px 10px 7px;
}

/* new page pane */

// note: this will use the filtered item styles in the future
.kiln-toolbar-pane .primary-action {
  @include button-outlined($green, $white);

  margin: 15px 0 0;
  width: 100%;
}

/* filtered item search pane (add component, possibly new page in the future) */

.kiln-toolbar-pane .filtered-input {
  @include input();

  margin: 0;
  position: relative;
  width: 100%;
}

.kiln-toolbar-pane .filtered-items {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.kiln-toolbar-pane .filtered-item {
  @include primary-text();

  cursor: pointer;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  width: 100%;
}

.kiln-toolbar-pane .filtered-item.filtered {
  display: none;
}

.kiln-toolbar-pane .filtered-item:not(.filtered) {
  border-bottom: 1px solid $grey;
  transition: 200ms border-bottom-color ease-out;
}

.kiln-toolbar-pane .filtered-item:focus {
  border-bottom: 1px solid $blue;
  outline: none;
  transition: 200ms border-bottom-color ease-out;
}

.kiln-toolbar-pane .filtered-item.active {
  border-bottom: 2px solid $blue;
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  20%, 60% {transform: translateX(-5px);}
  40%, 80% {transform: translateX(5px);}
}

.kiln-shake {
  animation-name: shake;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
