@import 'mixins';
@import 'colors';
@import 'layers';
@import 'buttons';
@import 'typography';
@import 'inputs';
$pane-margin: 30vh;
$easeOutExpo: cubic-bezier(.190, 1.000, .220, 1.000);
$toolbar-height: 48px;

.kiln-hide {
  @include kiln-hide();
}

.kiln-toolbar-pane-background {
  background-color: $overlay-background;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.kiln-toolbar-pane {
  @include primary-text();

  background-color: $white;
  bottom: $toolbar-height;
  box-shadow: 0 0 30px 0 $overlay-shadow;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  max-height: 100 - $pane-margin;
  max-width: 375px;
  min-height: 50px;
  min-width: 200px;
  padding: 0;
  position: absolute;
  right: 0;
  transform: translateY(100%);
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
  }

  &.on {
    transform: translateY(0);
    transition: transform 350ms $easeOutExpo;
  }
}

// regular tabs
.kiln-toolbar-pane .pane-tabs {
  align-items: flex-start;
  border-bottom: 1px solid $grey;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
}

.kiln-toolbar-pane .pane-tabs-inner {
  align-items: flex-start;
  cursor: auto;
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-start;
}

.kiln-toolbar-pane .pane-tab {
  @include input-text(); // larger than kiln-copy

  cursor: pointer;
  flex: 0 0 auto;
  padding: 20px;
  position: relative;

  &:after {
    bottom: 14px;
    content: '';
    left: 20px;
    opacity: 0;
    position: absolute;
    transition: opacity 200ms ease-out;
    width: calc(100% - 40px);
  }

  &:hover:after {
    border-bottom: 6px solid $grey;
    opacity: 1;
  }

  &.active:after {
    border-bottom: 6px solid $black-25;
    opacity: 1;
  }

  &.disabled {
    color: $black-25;
    cursor: not-allowed;
  }
}

.kiln-toolbar-pane .pane-tab-dynamic {
  @include input-text(); // larger than kiln-copy

  align-items: center;
  border-left: 1px solid $grey;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: 59px; // set height instead of padding, because we want icons and such available
  padding: 0 20px; // set left and right padding only
  position: relative;

  // special active styles for health tab
  .health-icon {
    height: 22px;
    margin-right: 5px;
    width: auto;

    svg {
      width: auto;
      height: 22px;
    }

    &.valid svg {
      fill: $published;
    }

    &.warnings svg {
      fill: $published;
    }

    &.errors svg {
      fill: $red;
    }
  }

  .health-header {
    position: relative; // for the active state

    &:after {
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      transition: opacity 200ms ease-out;
      top: 100%;
      width: 100%;
    }
  }

  &:hover .health-header:after {
    border-bottom: 6px solid $grey;
    opacity: 1;
  }

  &.active .health-header:after {
    border-bottom: 6px solid $black-25;
    opacity: 1;
  }

  &.disabled {
    color: $black-25;
    cursor: not-allowed;
  }
}

.kiln-toolbar-pane .pane-inner {
  overflow-y: scroll;
  width: 100%;
}

.kiln-toolbar-pane .pane-content,
.kiln-toolbar-pane .pane-content-dynamic {
  align-content: stretch;
  align-items: stretch;
  display: none;
  flex: 0 1 auto;
  flex-flow: row wrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px 20px 40px;

  &.active {
    display: flex;
  }
}

@mixin pane-border-before {
  position: relative;
  width: 100%;

  &:before {
    border-top: 1px solid $grey;
    content: '';
    left: -20px;
    position: absolute;
    top: 0;
    width: calc(100% + 40px);
  }
}

@mixin pane-border-after {
  position: relative;
  width: 100%;

  &:after {
    border-bottom: 1px solid $grey;
    bottom: 0;
    content: '';
    left: -20px;
    position: absolute;
    width: calc(100% + 40px);
  }
}

@mixin full-width {
  float: none; // overrides button float
  margin: 0;
  position: relative;
  width: 100%;
}

/* types of panes */

/* publish */

// undo actions
.kiln-toolbar-pane .undo {
  @include pane-border-after();
}

.kiln-toolbar-pane .unpublish {
  @include button-outlined($black-50, $white);
  @include full-width();

  margin-bottom: 20px;
  // will space buttons when both are visible, otherwise will space bottom border
}

.kiln-toolbar-pane .unschedule {
  @include button-outlined($black-50, $white);
  @include full-width();

  margin-bottom: 20px;
  // will space buttons when both are visible, otherwise will space bottom border
}

// info / status messages
.kiln-toolbar-pane .messages {
  @include full-width();

  padding: 20px 0;

  p {
    color: $black-50;
    margin: 0;
    padding: 0;
  }
}


.kiln-toolbar-pane .kiln-hide + .messages {
  padding: 0 0 20px; // if undo is hidden, we don't need top padding
}

// publish now
.kiln-toolbar-pane .actions {
  @include full-width();
}

.kiln-toolbar-pane .publish-now {
  @include button-outlined($published, $white);
  @include full-width();
}

// schedule form
.kiln-toolbar-pane .schedule-border {
  // needs a separate element because firefox has issues with absolutely-positioned
  // child elements of flexbox containers that use justify-content: space-between
  @include pane-border-before();
  @include full-width();

  margin: 20px 0 0;
  padding: 20px 0 0;
}
.kiln-toolbar-pane .schedule {
  @include full-width();

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

$schedule-item-width: calc(50% - 8px);
// close enough to 10px (standard margins in this form),
// but enough space for chrome to display its datepicker toggles

.kiln-toolbar-pane .schedule-item {
  flex: 0 0 $schedule-item-width;
  width: $schedule-item-width;
}

.kiln-toolbar-pane .schedule-label {
  @include label();

  margin: 0 0 5px;
}

.kiln-toolbar-pane .schedule-input,
.kiln-toolbar-pane .kiln-input { // generic input class, used by flatpickr
  @include input();

  cursor: initial;
  margin: 0;
  padding: 8px 10px 7px;
}

.kiln-toolbar-pane .schedule-input::-webkit-calendar-picker-indicator {
  display: block;
}

.kiln-toolbar-pane .schedule-publish {
  @include button-outlined($published, $white);
  @include full-width();

  margin-top: 20px;
}

/* validation */
.kiln-toolbar-pane .publish-valid {
  align-items: center;
  display: flex;
  padding: 0;
}

.kiln-toolbar-pane .publish-valid-icon {
  margin-right: 16px;
}

.publish-valid-icon svg {
  display: inline-block;
  fill: $published;
  height: 24px;
  width: 24px;
}

.publish-valid-message {
  color: $published;
  margin: 4px 0; // vertically center with the icon (24px - 16px)
}

/* validation errors */

.kiln-toolbar-pane .error-message {
  @include primary-text();

  color: $red;
  padding: 0 0 20px;
}

.kiln-toolbar-pane .publish-error {
  @include pane-border-before();
  @include primary-text();

  padding: 20px 0;

  .label {
    color: $red;
    text-transform: uppercase;
  }

  .errors {
    margin: 10px 0 0 20px;
    padding: 0;

    li {
      margin-top: 5px;
    }
  }
}

// special color for warnings
.kiln-toolbar-pane .publish-warning .label {
  color: $published;
}

.kiln-toolbar-pane .warning-message {
  @include primary-text();

  color: $published;
  padding: 0 0 20px;
}

.kiln-toolbar-pane .error-preview {
  @include secondary-text();

  font-style: italic;
  margin-left: 5px;
}

/* location tab */
.kiln-toolbar-pane .custom-url-message {
  @include secondary-text();
}

.kiln-toolbar-pane .custom-url-input {
  @include input();

  margin: 10px 0;
}

.kiln-toolbar-pane .custom-url-submit {
  @include button-outlined();
  @include full-width();
}

/* easter egg pane */

.kiln-toolbar-pane .cats-ayb {
  height: 200px;
  width: 335px;
}

.kiln-toolbar-pane .ayb-header {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  top: -6px;
}

.kiln-toolbar-pane .error-message.ayb {
  padding: 20px 0;
}

.kiln-toolbar-pane .publish-error .description.ayb {
  padding-top: 20px;
}

/* preview / share pane */

.kiln-toolbar-pane .preview-actions {
  list-style: none;
  margin: -20px -20px 0;
  padding: 0;
  position: relative;
  width: calc(100% + 40px);
}

.kiln-toolbar-pane .preview-item {
  border-bottom: 1px solid $grey;
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

.kiln-toolbar-pane .preview-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  line-height: 16px;
  list-style: none;
  margin: 0;
  text-decoration: none;
  width: 100%;

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
}

.kiln-toolbar-pane .preview-link-size {
  @include icon-button($black-75, 22px);

  flex: 0 0 auto;
  margin-right: 10px;
  padding: 0;
}

.kiln-toolbar-pane .preview-link-text {
  @include primary-text();

  flex: 1 0 auto;
  padding: 15px 0;
}

.kiln-toolbar-pane .preview-link-icon {
  @include icon-button($black-50, 18px);

  flex: 0 0 auto;
  margin-left: 5px;
  padding: 0;
}

.kiln-toolbar-pane .info-message {
  @include primary-text();

  color: $black-50;
  padding: 0 0 20px;
}

.kiln-toolbar-pane .share-actions {
  display: flex;
  width: 100%;
}

.kiln-toolbar-pane .share-input {
  @include input();

  cursor: initial;
  flex: 0 1 auto;
  margin: 0;
  padding: 8px 10px 7px;
}

.kiln-toolbar-pane .share-copy {
  @include button-outlined($black-25);

  border-radius: 0;
  flex: 0 0 auto;
  height: 36px; // bump up the height to match input
  margin: 0 0 0 -1px; // cover the input border
  position: relative;

  &:before,
  &:after {
    @include secondary-text();

    opacity: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 8px);
    transition: opacity 300ms ease-out;
    white-space: nowrap;
  }

  // :before is the success message, :after is the error
  // this allows us to fade them in (setting the content with the class messes up the animation)
  &:before {
    color: $blue;
    content: 'Copied to clipboard!';
  }

  &:after {
    color: $red;
    content: 'Cannot copy link';
  }

  &.success:before {
    opacity: 1;
  }

  &.error:after {
    opacity: 1;
  }

  svg {
    height: 20px;
    width: 18px;
  }
}

/* new page pane */

.add-page-form {
  border-top: 1px solid $black-75;
  width: 100%;
}

.add-page-form input {
  @include input();

  margin: 10px 0;
}

.add-page-form button {
  @include button-outlined();
  @include full-width();
}
