@import 'mixins';
@import 'colors';
@import 'layers';
@import 'buttons';
@import 'typography';
@import 'inputs';
$pane-margin: 30vh;
$easeOutExpo: cubic-bezier(.190, 1.000, .220, 1.000);

.hide,
.kiln-pane-template-elements {
  display: none !important; // Always hide your skeletons and other hidden things
}

.kiln-toolbar-pane-background {
  background-color: $overlay-background;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.kiln-toolbar-pane {
  @include primary-text();

  background-color: $white;
  bottom: 60px;
  box-shadow: 0 0 30px 0 $overlay-shadow;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 0;
  max-height: 100 - $pane-margin;
  max-width: 375px;
  min-height: 50px;
  min-width: 200px;
  padding: 0;
  position: absolute;
  right: 0;
  transform: translateY(100%);
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
  }

  &.on {
    transform: translateY(0);
    transition: transform 350ms $easeOutExpo;
  }

  &.medium {
    max-width: 300px;
  }
}

.kiln-toolbar-pane header {
  align-items: flex-start;
  border-bottom: 1px solid $grey;
  display: flex;
  flex: 0 0 auto;
  padding: 13px 20px;
  width: 100%;
}

.kiln-toolbar-pane .pane-header {
  @include header();

  flex: 1 1 auto;
  margin-top: 9px;
}

.kiln-toolbar-pane .close {
  @include button();

  background-color: $white;
  border: none;
  flex: 0 0 auto;
  margin-left: 30px;
  margin-right: 0;
  padding-right: 0;
}

.kiln-toolbar-pane .pane-inner {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 30px 20px 50px;
}

/* types of panes */

/* publish */

.kiln-toolbar-pane .messages {
  p {
    margin: 0 0 10px;
    color: $black-50;
  }
}

.kiln-toolbar-pane .actions,
.kiln-toolbar-pane .schedule {
  @include clearfix();
}

.kiln-toolbar-pane .schedule-label {
  @include label();

  margin: 15px 0 5px;
}

.kiln-toolbar-pane .schedule-input {
  @include input();

  cursor: initial;
  margin: 0;
  padding: 8px 10px 7px;
}

.kiln-toolbar-pane .schedule-input::-webkit-calendar-picker-indicator {
  display: block;
}

.kiln-toolbar-pane .schedule-publish {
  @include button-outlined($orange, $white);
}

.kiln-toolbar-pane .unschedule {
  @include button-outlined($black-50, $white);
}

.kiln-toolbar-pane .primary-action,
.kiln-toolbar-pane .publish-now {
  @include button-outlined($green, $white);
}

.kiln-toolbar-pane .unpublish {
  @include button-outlined($black-50, $white);
}

.kiln-toolbar-pane .primary-action,
.kiln-toolbar-pane .schedule-publish,
.kiln-toolbar-pane .publish-now {
  margin: 15px 0 0;
  width: 100%;
}

.kiln-toolbar-pane .unschedule {
  margin: 15px 0 12px;
  position: relative;
  width: 100%;

  &:after {
    border-bottom: 1px solid $grey;
    bottom: -15px;
    content: '';
    left: -20px;
    position: absolute;
    width: calc(100% + 40px);
  }
}

.kiln-toolbar-pane .unpublish {
  margin: 27px 0 0;
  position: relative;
  width: 100%;

  &:before {
    border-bottom: 1px solid $grey;
    content: '';
    left: -20px;
    position: absolute;
    top: -15px;
    width: calc(100% + 40px);
  }
}

/* validation errors */

.kiln-toolbar-pane .error-message {
  @include primary-text();

  color: $red;
  padding: 0 0 20px;
}

.kiln-toolbar-pane .publish-error {
  @include primary-text();

  border-top: 1px solid $grey;
  padding: 20px 0;

  .label {
    color: $red;
    text-transform: uppercase;
  }

  .errors {
    margin: 10px 0 0 20px;
    padding: 0;

    li {
      margin-top: 5px;
    }
  }
}

.kiln-toolbar-pane .error-preview {
  @include secondary-text();

  font-style: italic;
  margin-left: 5px;
}

.kiln-toolbar-pane .cats-ayb {
  height: 200px;
  width: 335px;
}

.kiln-toolbar-pane .ayb-header {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  top: -6px;
}

.kiln-toolbar-pane .error-message.ayb {
  padding: 20px 0;
}

.kiln-toolbar-pane .publish-error .description.ayb {
  padding-top: 20px;
}
