@import 'colors';
@import 'typography';

.editor-placeholder {
  background-color: $light-grey;
  border: 2px dashed $black-25;
  padding: 10px;
  height: 100%;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

.editor-placeholder .placeholder-label {
  @include body-copy();
}
