@import 'colors';
@import 'typography';

// regular placeholder - displays when field is empty

.kiln-placeholder {
  align-items: center;
  background-color: $grey;
  border: 1px dashed $black-25;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 4px 20px;
  position: relative;
  width: 100%;
}

.kiln-placeholder,
.kiln-placeholder .placeholder-label {
  @include secondary-text();

  color: $black-50;
  text-align: center;
}

// permanent placeholder - always displays, even when there is data in fields

.kiln-permanent-placeholder {
  align-items: center;
  background-color: $grey;
  border: 1px dashed $black-25;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 4px 20px;
  position: relative;
  width: 100%;
}

.kiln-permanent-placeholder,
.kiln-permanent-placeholder .placeholder-label {
  @include primary-text();

  color: $black-50;
  text-align: center;
  text-transform: uppercase;
}

// add component button - added to placeholders of empty component lists
.kiln-placeholder .placeholder-add-component,
.kiln-permanent-placeholder .placeholder-add-component {
  margin-top: 5px;
  padding: 10px;

  svg,
  svg * {
    fill: $black-25;
    transition: 150ms fill ease-out;
  }

  &:hover svg,
  &:hover svg * {
    fill: darken($black-25, 5%);
    transition: 150ms fill ease-out;
  }

  &:active svg,
  &:active svg * {
    fill: darken($black-25, 10%);
    transition: 50ms fill ease-out;
  }
}
