// progress bars
.kiln-progress-wrapper {
  bottom: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;

  .bar {
    bottom: 0;
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
