@import 'colors';
@import 'typography';
@import 'buttons';
@import 'layers';

.kiln-toolbar-wrapper {
  @include toolbar-layer();

  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.kiln-toolbar {
  background-color: #fff;
  border-bottom: 1px solid $black-25;
  box-shadow: 0 1px 10px -5px $black;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  @media screen and (min-width: 600px) {
    height: 60px;
  }

  @media screen and (min-width: 1024px) {
    height: 70px;
  }
}

// when the editor toolbar is on the screen, push the page content down
body {
  padding-top: 50px;

  @media screen and (min-width: 600px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 70px;
  }
}

.kiln-toolbar-inner {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  top: 0;
  width: 100%;
}

.kiln-toolbar-inner > button:not(.publish) {
  @include button-small();
  @include button-secondary-2();

  flex: 0 0 auto;
}

.publish {
  @include button-large();
  @include button-primary-1();

  margin-right: 20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

// Status of saving controlled by class on body.
.kiln-toolbar-inner > .status:before {
  @include normal-text();

  color: $blue-75;
  content: 'Saved.';
}
.editing .kiln-toolbar-inner > .status:before {
  content: 'Saving...';
}

.mobile-button-text {
  display: inline;

  @media screen and (min-width: 600px) {
    display: none;
  }
}

.non-mobile-button-text {
  display: none;

  @media screen and (min-width: 600px) {
    display: inline;
  }
}

// publish pane
.kiln-publish-pane {
  padding: .5rem 1rem;
  position: absolute;
  text-align: center;
  top: .7rem;
  width: 100%;
  z-index: 1;
}

.kiln-publish-pane.success {
  background-color: $green-transparent;
}

.kiln-publish-pane.error {
  background-color: $red-transparent;
}

.kiln-publish-pane.show {
  top: 5rem;
  transition: top 300ms cubic-bezier(.17, .04, .03, .94);

  @media screen and (min-width: 600px) {
    top: 6rem;
  }

  @media screen and (min-width: 1024px) {
    top: 7rem;
  }
}

.publish-status {
  @include normal-text();
  @include overlay-copy();

  color: #fff;
  font-weight: 600;
}

.publish-link {
  @include button-small();
  @include button-primary-3();

  display: inline-block;
  float: none;
  font-weight: 600;
  margin: 0 0 0 1.5rem;
  text-decoration: none;
}
