@import 'colors';
@import 'typography';
@import 'buttons';
@import 'layers';
$height: 48px;

.kiln-toolbar-wrapper {
  @include toolbar-layer();

  left: 0;
  position: fixed;
  top: calc(100% - #{$height});
  width: 100%;
}

.kiln-toolbar {
  background-color: $black-60;
  height: $height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// when the editor toolbar is on the screen, push the page content down
body {
  padding-bottom: $height;
}

.kiln-toolbar-inner {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
}

.kiln-toolbar-inner .kiln-toolbar-button, {
  @include button-filled-large($black-60);

  flex: 0 0 auto;
  border-left: 1px solid $black-50;
}

.kiln-toolbar-inner .kiln-toolbar-button-left {
  border-left: none;
  border-right: 1px solid $black-50;
}

.kiln-toolbar-inner .button-flex-inner {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.kiln-toolbar-button .icon,
.kiln-toolbar-button .icon svg {
  height: 18px;
  margin: 0;
  padding: 0;
  width: 18px;
}

.kiln-toolbar-button .text {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
    margin-left: 10px;
    padding-top: 1px;
  }
}

.kiln-toolbar-inner .user-icon {
  @include button();

  background-color: transparent;
  border: none;
  color: $white;
  display: none; // todo: show this when we add user stuff
  padding: 6px 0 0;

  svg {
    height: 24px;
    margin: 0;
    padding: 0;
    width: 32px;
  }
}

.kiln-toolbar-inner .flex-span {
  flex: 1 1 auto;
}

.kiln-toolbar-inner .history {
  display: none; // todo: show this when we add user stuff
}

.kiln-toolbar-inner .publish {
  margin-right: 0;
  transition: all 200ms ease-in-out;

  @media screen and (min-width: 1024px) {
    min-width: 130px; // largest width (scheduled)
  }

  .button-flex-inner {
    display: none;
  }

  .publish-loading {
    display: flex;
  }
}

.kiln-toolbar-inner .draft {
  @include button-filled-large($draft);

  border-left: none;

  .publish-loading {
    display: none;
  }

  .publish-draft {
    display: flex;
  }
}

.kiln-toolbar-inner .published {
  @include button-filled-large($published);

  border-left: none;

  .publish-loading,
  .publish-draft {
    display: none;
  }

  .publish-published {
    display: flex;
  }
}

.kiln-toolbar-inner .scheduled {
  @include button-filled-large($published);

  border-left: none;

  .publish-loading,
  .publish-draft,
  .publish-published {
    display: none;
  }

  .publish-scheduled {
    display: flex;
  }
}
