@import 'colors';
@import 'typography';
@import 'buttons';
@import 'layers';
$height: 48px;

.kiln-toolbar-wrapper {
  @include toolbar-layer();

  left: 0;
  position: fixed;
  top: calc(100% - #{$height});
  width: 100%;
}

.kiln-toolbar {
  align-items: center;
  background-color: $toolbar-view;
  cursor: auto;
  display: flex;
  height: $height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// when the editor toolbar is on the screen, push the page content down
body {
  padding-bottom: $height;
}

.kiln-toolbar-inner {
  align-items: center;
  background-color: $toolbar-edit;
  display: flex;
  height: 100%;
  margin: 0 0 0 -3px;
  padding: 0 0 0 6px;
  position: relative;
  top: 0;
}

// full width inner toolbar in edit mode
.edit-mode .kiln-toolbar-inner {
  flex: 1 1 auto;
  left: 0;
  width: auto;
}

// short inner toolbar in view mode
.view-mode .kiln-toolbar-inner {
  flex: 0 1 auto;
  right: 0;
  width: auto;
}

.kiln-toolbar-inner:before {
  background-color: $toolbar-view;
  content: '';
  height: 100%;
  position: absolute;
  right: 100%;
  top: 0;
  transform: skewX(-14deg) translateX(6px);
  width: 12px;
}

.kiln-toolbar-button {
  @include button-filled-large($toolbar-view);

  flex: 0 0 auto;
}

.kiln-toolbar-inner .kiln-toolbar-button {
  @include button-filled-large($toolbar-edit);
}

// button borders
.kiln-toolbar .clay-menu-button {
  border-right: 1px solid $toolbar-view-border;
}

// edit mode doesn't have a border on this button
.kiln-toolbar.view-mode .new {
  border-right: 1px solid $toolbar-view-border;
}

.kiln-toolbar .view-button {
  border-right: 1px solid $toolbar-edit-border;
}

.kiln-toolbar .components {
  border-right: 1px solid $toolbar-edit-border;
}

.kiln-toolbar .preview {
  border-left: 1px solid $toolbar-edit-border;
}

.button-flex-inner {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.kiln-toolbar-button .icon,
.kiln-toolbar-button .icon svg {
  height: 18px;
  margin: 0;
  padding: 0;
  width: 18px;
}

.kiln-toolbar-button .text {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
    margin-left: 10px;
    padding-top: 1px;
  }
}

.kiln-toolbar .flex-span {
  flex: 1 1 auto;
}

.kiln-toolbar .publish {
  margin-right: 0;
  transition: all 200ms ease-in-out;

  @media screen and (min-width: 1024px) {
    min-width: 130px; // largest width (scheduled)
  }

  .button-flex-inner {
    display: none;
  }

  .publish-loading {
    display: flex;
  }
}

.kiln-toolbar .draft {
  @include button-filled-large($draft);

  border-left: none;

  .publish-loading {
    display: none;
  }

  .publish-draft {
    display: flex;
  }
}

.kiln-toolbar .published {
  @include button-filled-large($published);

  border-left: none;

  .publish-loading,
  .publish-draft {
    display: none;
  }

  .publish-published {
    display: flex;
  }
}

.kiln-toolbar .scheduled {
  @include button-filled-large($scheduled);

  border-left: none;

  .publish-loading,
  .publish-draft,
  .publish-published {
    display: none;
  }

  .publish-scheduled {
    display: flex;
  }
}
