@import 'colors';
@import 'typography';
@import 'buttons';
@import 'layers';

$height: 60px;

.kiln-toolbar-wrapper {
  @include toolbar-layer();

  left: 0;
  position: fixed;
  top: calc(100% - #{$height});
  width: 100%;
}

.kiln-toolbar {
  background-color: $black;
  height: $height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// when the editor toolbar is on the screen, push the page content down
body {
  padding-bottom: $height;
}

.kiln-toolbar-inner {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  top: 0;
  width: 100%;
}

.kiln-toolbar-inner .kiln-toolbar-button, {
  @include button-filled($black-75);

  align-items: center;
  display: flex;
  flex: 0 0 auto;
  margin: 0 10px 0 0;
}

.kiln-toolbar-button .icon,
.kiln-toolbar-button .icon svg {
  height: 18px;
  margin: 0;
  padding: 0;
  width: 18px;
}

.kiln-toolbar-button .text {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
    margin-left: 10px;
  }
}

.kiln-toolbar-inner .user-icon {
  @include button();

  background-color: transparent;
  border: none;
  color: $white;
  padding: 6px 0 0;

  svg {
    height: 24px;
    margin: 0;
    padding: 0;
    width: 32px;
  }
}

.kiln-toolbar-inner .flex-span {
  flex: 1 1 auto;
}

.kiln-toolbar-inner .publish {
  @include button-filled($green);

  margin-right: 0;
  transition: all 200ms ease-in-out;
}

.kiln-toolbar-inner .publish.scheduled {
  @include button-filled($orange);

  transition: all 200ms ease-in-out;
}

.kiln-toolbar-inner .publish.published {
  @include button-filled($black-50);

  transition: all 200ms ease-in-out;
}
