@import 'colors';
@import 'typography';
@import 'buttons';
@import 'layers';

$white: #ffffff;

.validation-dropdown {
  @include normal-text;
  background-color: $red;
  border-radius: 4px;
  color: $white;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  max-width: 31rem;
  right: 0;
  top: 6rem;
  box-shadow: 0 0 2px #888888;

  header, footer {
    padding: 1rem;
  }

  header img {
    margin-right: 1.3rem;
    height: 42px;
  }

  .carot {
    transform: translate(19.8rem,-1rem);
    position: absolute;
    top: 0;
    left: 0;
  }

  .row {
    align-content: space-around;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  ol, ul {
    margin: 0;
    padding: 0;
  }

  li.rule {
    &:first-of-type {
      border-top: #{($red-50)} 1px solid;
    }
    border-bottom: #{($red-50)} 1px solid;
    list-style-type: none;
    margin: 0;
    padding: 2rem;

    >.name {
      display: inline;
      font-weight: bold;

      &:after {
        content: ': '
      }
    }

    >.description {
      display: inline;
      margin: 0.2rem;
    }

    ol, ul {
      margin-left: 1.9rem;
    }
  }

  li.error {
    @include small-text;
    color: $white;
    list-style-type: disc;
    margin: .2rem;
    padding: 0;

    >.name {
      display: block;
      margin: 0.2rem;
    }
  }

  li.error-preview {
    >.name {
      &:after {
        content: ': '
      }
    }

    >.preview {
      &:before {
        content: '"'
      }
      &:after {
        content: '"'
      }
    }
  }

  img {
    border: 0;
    float: none;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
  }

  button {
    @include button-small;

    background-color: inherit;
    border: 1px solid #{$white};
    color: inherit;
    float: none;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
  }
}