@import 'colors';
@import 'typography';
@import 'buttons';
@import 'layers';

.validation-dropdown {
  @include normal-text();

  background-color: $red;
  border-radius: 4px;
  color: $white;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  max-width: 310px;
  right: 0;
  top: 60px;
  box-shadow: 0 0 2px $black-50;

  header, footer {
    padding: 10px;
  }

  header img {
    margin-right: 13px;
    height: 42px;
  }

  .carot {
    transform: translate(198px, -10px);
    position: absolute;
    top: 0;
    left: 0;
  }

  .row {
    align-content: space-around;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  ol, ul {
    margin: 0;
    padding: 0;
  }

  li.rule {
    &:first-of-type {
      border-top: 1px solid $red;
    }

    border-bottom: 1px solid $red;
    list-style-type: none;
    margin: 0;
    padding: 20px;

    >.name {
      display: inline;
      font-weight: bold;

      &:after {
        content: ': '
      }
    }

    >.description {
      display: inline;
      margin: 2px;
    }

    ol, ul {
      margin-left: 19px;
    }
  }

  li.error {
    @include secondary-text();

    color: $white;
    list-style-type: disc;
    margin: 2px;
    padding: 0;

    >.name {
      display: block;
      margin: 2px;
    }
  }

  li.error-preview {
    >.name {
      &:after {
        content: ': '
      }
    }

    >.preview {
      &:before {
        content: '"'
      }
      &:after {
        content: '"'
      }
    }
  }

  img {
    border: 0;
    float: none;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
  }

  button {
    @include button();

    background-color: inherit;
    border: 1px solid $white;
    color: inherit;
    float: none;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
  }
}
