@font-face {
  font-family: 'OpenSans-Light';
  src: url('./open-sans-v13-latin-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('./open-sans-v13-latin-600.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./open-sans-v13-latin-700.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./open-sans-v13-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('./open-sans-v13-latin-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

