<script type="text/template" class="editor-dialog-add">
  <div class="editor-backdrop">
    <div class="editor-dialog-add">
      <form>
        <select name="component-name">
          <option value="text">Text</option>
          <option value="image">Image</option>
          <option value="ad">Ad</option>
        </select>
        <label>Instance Name: <input type="text" name="component-id" /></label>
        <button class="add">Add</button>
        <button class="cancel">Cancel</button>
      </form>
    </div>
  </div>
</script>