<script type="text/template" class="editor-url">
  <label><span class="input-label"><%- label %></span> 
    <% if (obj._tooltip) { %><p class="label-tooltip"><%- obj._tooltip %></p> <% } %>
    <input name="<%- name %>" type="url" <%
      if (obj._required === true) { %> required <% }
      if (_.isString(obj._pattern)) { %> pattern="<%- obj._pattern %>" <% }
      if (obj._placeholder !== undefined) { %> placeholder="<%- obj._placeholder %>" <% }
      %> value="<%- value %>" />
  </label>
</script>