@import '../styleguide/inputs';
@import '../styleguide/typography';

.checkbox-group .checkbox-group-item {
  margin: 0 0 .4rem;
  padding: 0;
  width: 100%;
}

.checkbox-group .checkbox-group-item:first-of-type {
  margin-top: .4rem;
}

.checkbox-group input {
  @include checkbox();
}

.checkbox-group label {
  @include normal-text();
  @include overlay-copy();

  padding-left: .4rem;
  vertical-align: middle;
}
