@import '../styleguide/inputs';
@import '../styleguide/typography';

.checkbox-group .checkbox-group-item {
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}

.checkbox-group .checkbox-group-item:first-of-type {
  margin-top: 15px;
}

.checkbox-group input {
  @include checkbox();
}

.checkbox-group label {
  @include primary-text();

  padding-left: 4px;
  vertical-align: middle;
}
