@import '../styleguide/typography';

.input-checkbox {
  margin: 5px 0 10px 2px; // left-margin space to accommodate browser focus display
}

.checkbox-label {
  @include input-text();

  margin-left: 10px;
  vertical-align: middle;
}
