@import '../styleguide/colors';
@import '../styleguide/typography';

.label-description {
  @include secondary-text();

  clear: left;
  cursor: default;
  margin: 0 0 5px;
  text-align: left;
}

.label-description a {
  @include link();
}
