@import '../styleguide/typography';

.editor .label-inner {
  @include label();

  color: $black;
  float: left;
  margin-right: 8px;
  text-align: left;
}

.editor-inline .label-inner {
  margin-top: 10px;
}
