@import '../styleguide/buttons';

.magic-button {
  @include button-outlined($black-25, $white);

  border-bottom-right-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
  left: 0;
  height: 41px; // to match inputs
  margin: 0;
  padding: 6px 10px 4px;
  position: absolute;
  top: 39px; // allow 1px for border
  width: 44px; // explicit width, see below


  img {
    height: 22px;
    width: 24px;
  }

  & + * {
    // the next component after the magic button (e.g. input, wysiwyg) should
    // move over so the magic button can live in front of it
    left: 44px;
    width: calc(100% - 44px) !important;
  }
}
