.editor-radios {
  list-style: none;
  margin: 0;
  padding: 0;
}

.editor-radio-item {
  margin: 10px 0;
}

.editor-radio-item input {
  float: right;
}

.option-label {
  flex: 1 1;
  font-family: Arial, sans-serif;
  min-width: 20rem;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 20px
}