@import '../styleguide/typography';

.editor-radios {
  list-style: none;
  margin: 0;
  padding: 0;
}

.editor-radio-item {
  @include input-text();

  margin: 10px 0;
  text-align: left;
}

.editor-radio-item input[type='radio'],
.editor-radio-item label {
  @include input-text();

  vertical-align: baseline;
}
