@import '../styleguide/colors';
@import '../styleguide/typography';

.label-required {
  @include secondary-text();

  color: $blue-50;
  float: left;
}

.editor-inline .label-required {
  margin-top: 10px; // since the inner label has a 10px margin
}
