@import '../styleguide/colors';
@import '../styleguide/mixins';
@import '../styleguide/typography';

.segmented-button-group {
  @include clearfix();

  clear: both;
  margin: 5px 0 10px;
}

.segmented-button-group input[type=radio] {
  display: none;
}

.segmented-button-group .group {
  @include clearfix();

  margin: 5px 0 0;
  width: 100%;
}

.segmented-button-group .group + .group {
  margin: 10px 0;
}

.segmented-button-group .title {
  @include label();

  color: $black;
  float: left;
  font-size: 14px;
  line-height: 17px;
  margin-right: 8px;
  text-align: left;
  width: 100%;
}

// labels

.segmented-button-group label {
  background-color: #fff;
  border-bottom: 1px solid $blue;
  border-left: 1px solid $blue;
  border-top: 1px solid $blue;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0;
  padding: 4px 8px;
}

.segmented-button-group label:last-of-type {
  border-right: 1px solid $blue;
}

// rounded borders on first and last button
$btnradius: 4px;

.segmented-button-group label:nth-of-type(1) {
  border-bottom-left-radius: $btnradius;
  border-top-left-radius: $btnradius;
}

.segmented-button-group label:nth-last-of-type(1) {
  border-bottom-right-radius: $btnradius;
  border-top-right-radius: $btnradius;
}

// label (when button is selected)

.segmented-button-group input:checked + label {
  background-color: $blue-25;
}

// icons
.segmented-button-group img {
  height: auto;
  min-height: 30px;
  width: 34px;
}
