@import '../styleguide/colors';

.badge {
  display: none;
}

.simple-list-item.has-badge {
  margin-top: 0;
}

// remember to add same margin to the simple-list-add
.simple-list-item.has-badge + .simple-list-add {
  margin-top: 0;
}

.simple-list-item.primary {
  border: 2px solid $green;

  .badge {
    background-color: #fff;
    border: 2px solid $green;
    border-radius: 10px;
    display: block;
    font-size: 9px;
    font-weight: 700;
    height: 20px;
    line-height: 12px;
    padding: 2px;
    position: absolute;
    right: -6px;
    top: -9px;
  }
}

.simple-list-item.selected.primary {
  border: 2px solid $blue;
}
