@import '../styleguide/colors';

.badge {
  display: none;
}

.simple-list-item.primary {
  border: 2px solid $green;

  .badge {
    background-color: #fff;
    border: .2rem solid $green;
    border-radius: 1rem;
    display: block;
    font-size: .9rem;
    font-weight: 700;
    height: 2rem;
    line-height: 1.2rem;
    padding: .2rem;
    position: absolute;
    right: -.6rem;
    top: -.9rem;
  }
}

.simple-list-item.selected.primary {
  border: .2rem solid $blue;
}
