@import '../styleguide/colors';
@import '../styleguide/buttons';

.simple-list {
  display: flex;
  flex-flow: row wrap;
}

.simple-list-item {
  @include button-small();

  background-color: #fff;
  border: 1px solid $black;
  color: $black;
  display: inline-block;
  flex: 0 0 auto;
  margin: 2px;
  position: relative;
  user-select: none;
}

.simple-list-item.selected {
  border: 2px solid $blue;
}

.simple-list-add {
  display: inline-block;
  flex: 1 0 auto;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  outline: none;
 border: none;
 font-size: 1.6rem;
 height: 32px;
 min-width: 20px;
 padding: 2px;
 width: auto;
}

.simple-list-add:invalid {
  border: 1px solid $red;
}
