@import '../styleguide/colors';
@import '../styleguide/buttons';

.simple-list {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
  width: 100%;
}

.simple-list-item {
  @include button-small();

  background-color: #fff;
  border: 1px solid $black-75;
  color: $black-75;
  display: inline-block;
  flex: 0 0 auto;
  margin: 0 12px 12px 0;
  position: relative;
  user-select: none;
}

.simple-list-item.selected {
  border: 2px solid $blue;
}

.simple-list-add {
  @include overlay-copy();

  border: 0;
  display: inline-block;
  flex: 1 0 135px;
  font-size: 16px;
  height: 30px;
  min-width: 100px;
  outline: none;
  padding: 6px 0 2px;
  width: auto;
}

.simple-list-add:invalid {
  border: 1px solid $red;
}
