@import '../styleguide/colors';
@import '../styleguide/typography';

.soft-maxlength {
  @include normal-text();

  color: $black-50;
  float: right;
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
}

.soft-maxlength.too-long {
  color: $red;
}

// styles on the input
.input-text.input-too-long,
.editor-textarea.input-too-long,
.wysiwyg-input.styled.input-too-long {
  border: 1px solid $red;
}
