@import '../styleguide/colors';
@import '../styleguide/typography';

.soft-maxlength {
  @include body-copy();

  color: $black-50;
  float: right;
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
}

.soft-maxlength.too-long {
  color: $red;
}
