<label><span class="input-label"><%- label %></span> 
  <% if (minlength) { %><span class="label-min"><%- minlength %> chars min</span><% if (maxlength) { %>,<% } %> <% } %>
  <% if (maxlength) { %><span class="label-max"><%- maxlength %> chars max</span> <% } %>
  <% if (tooltip) { %><p class="label-tooltip"><%- tooltip %></p> <% } %>
  <input name="<%- name %>" type="text" <%
    if (required === true) { %> required <% }
    if (_.isString(pattern)) { %> pattern="<%- pattern %>" <% }
    if (minlength !== undefined) { %> minlength="<%- minlength %>" <% }
    if (maxlength !== undefined) { %> maxlength="<%- maxlength %>" <% }
    if (_.isString(placeholder)) { %> placeholder="<%- placeholder %>" <% }
    %> value="<%- value %>" />
</label>