@import '../styleguide/validity-colors';

.input-text.hidden-input {
  border: none;
  height: 1px;
  left: 0;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 100%;
  visibility: visible;
  z-index: 0;
}

.wysiwyg-input {
  background-color: #fff;
  border: 1px solid #999;
  cursor: text;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  margin: 10px 0 20px;
  outline: none;
  padding: 4px 6px;
  position: relative;
  white-space: pre; // prevents &nbsp;, which messes with character counts
  white-space: no-wrap;
  width: 100%;
  z-index: 1;
}

// todo: remove validation stuff
.input-text:valid + .wysiwyg-input {
  border-color: $border-color-valid;
}

.input-text:invalid + .wysiwyg-input {
  background: $background-color-invalid;
  border-color: $border-color-invalid;
}

/* style stuff inside .wysiwyg-input */
@import '../node_modules/medium-editor/src/sass/medium-editor';

.wysiwyg-input p {
  margin: 0;
}

.wysiwyg-input blockquote {
  border-left: 10px solid #eee;
  margin-left: 0;
  padding-left: 20px;
}

// toolbar

// settings
$medium-editor-color: #000;
$medium-editor-bgcolor: #fff;
$medium-editor-selected-bgcolor: #c5e0e9;
$medium-editor-button-size: 32px;
$medium-editor-border-color: #e3e3e3;
$medium-editor-border-radius: 4px;
$medium-editor-boxshadow: 0 0 6px 0 rgba(0,0,0,.50);
$medium-editor-dropshadow: 0 0 6px rgba(0,0,0,.50);

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent $medium-editor-bgcolor;
  filter: drop-shadow($medium-editor-dropshadow);
  top: -8px;
}

.medium-toolbar-arrow-under:after {
  border-color: $medium-editor-bgcolor transparent transparent transparent;
  filter: drop-shadow($medium-editor-dropshadow);
  top: $medium-editor-button-size;
  z-index: -1;
}

.medium-editor-toolbar {
  border: none;
  border-radius: $medium-editor-border-radius;
  box-shadow: $medium-editor-boxshadow;
  .medium-editor-toolbar-actions,
  .medium-editor-toolbar-form {
    background-color: $medium-editor-bgcolor;
    border-radius: $medium-editor-border-radius;
    input {
      padding: 6px 6px 6px 10px;
    }
  }
  li {
    border-right: 1px solid $medium-editor-border-color;
    &:nth-child(6n) {
      border-right: none;
    }
    button {
      background-color: transparent;
      border: none;
      color: $medium-editor-color;
      height: $medium-editor-button-size;
      line-height: 32px;
      padding: 0;
      text-align: center;
      transition: background-color .2s ease-in;
      width: $medium-editor-button-size;
      // todo: do the tooltip buttons have a hover state?
      // &:hover {
      //   background-color: #C5E0E9;
      // }
    }
    .medium-editor-button-active {
      background-color: $medium-editor-selected-bgcolor;
    }
  }
}

.medium-editor-toolbar-form {
  background: transparent;
  border-radius: $medium-editor-border-radius;
  color: $medium-editor-color;
  .medium-editor-toolbar-input {
    background: transparent;
    color: $medium-editor-color;
    height: $medium-editor-button-size;
  }
  a {
    color: $medium-editor-color;
  }
  .medium-editor-toolbar-save {
    color: $border-color-valid;
    font-size: 18px;
    margin: 0 5px;
  }
  .medium-editor-toolbar-close {
    color: $border-color-invalid;
    margin: 0 10px 0 5px;
  }
}

.medium-editor-anchor-preview {
  background: $medium-editor-bgcolor;
  border-radius: $medium-editor-border-radius;
  box-shadow: $medium-editor-boxshadow;
  color: $medium-editor-color;
  max-width: 300px;
  word-break: break-word;
  word-wrap: normal;
}

.medium-editor-toolbar-anchor-preview {
  background: $medium-editor-bgcolor;
  border-radius: $medium-editor-border-radius;
  position: relative;
  a {
    color: $medium-editor-color;
    margin: 8px 10px;
  }
}

.medium-editor-placeholder:after {
  color: #b3b3b1;
}

.medium-editor-toolbar-actions {
  max-width: ($medium-editor-button-size * 6) + 5;
}

// show the first 6 items (tier 1)
// hide the rest (tier 2)
.medium-editor-toolbar li:nth-child(n+7) {
  display: none;
}

@keyframes medium-editor-animate-tiers {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -$medium-editor-button-size;
  }
}

@keyframes medium-editor-animate-arrow {
  0% {
    top: $medium-editor-button-size;
  }
  100% {
    top: 2 * $medium-editor-button-size;
  }
}

// showing all
.medium-editor-toolbar.show-all {
  animation: medium-editor-animate-tiers 200ms forwards linear;
}
.medium-editor-toolbar.show-all .medium-editor-toolbar-form {
  height: 2 * $medium-editor-button-size;
}
.medium-toolbar-arrow-under.show-all:after {
  animation: medium-editor-animate-arrow 200ms forwards linear;
}

.medium-editor-toolbar.show-all li {
  display: list-item;
}

// add border-bottom to the first row
.medium-editor-toolbar.show-all li:nth-child(1),
.medium-editor-toolbar.show-all li:nth-child(2),
.medium-editor-toolbar.show-all li:nth-child(3),
.medium-editor-toolbar.show-all li:nth-child(4),
.medium-editor-toolbar.show-all li:nth-child(5),
.medium-editor-toolbar.show-all li:nth-child(6) {
  border-bottom: 1px solid $medium-editor-border-color;
}

// hide items in the second row
.medium-editor-toolbar.show-none li:nth-child(n+7) {
  display: none;
}
// .medium-editor-toolbar.show-none li:nth-child(1),
// .medium-editor-toolbar.show-none li:nth-child(2),
// .medium-editor-toolbar.show-none li:nth-child(3),
// .medium-editor-toolbar.show-none li:nth-child(4),
// .medium-editor-toolbar.show-none li:nth-child(5),
// .medium-editor-toolbar.show-none li:nth-child(6) {
//   border-bottom: none;
// }

// showing none
.medium-editor-toolbar.show-none {
  animation: medium-editor-animate-tiers 200ms backwards linear;
}
.medium-editor-toolbar.show-none .medium-editor-toolbar-form {
  height: $medium-editor-button-size;
}
.medium-toolbar-arrow-under.show-none:after {
  animation: medium-editor-animate-arrow 200ms backwards linear;
}
